infrastructure/n8n/workflows/gmail-reddit-monitor.json
{
  "updatedAt": "2026-04-05T01:26:28.418Z",
  "createdAt": "2026-03-19T01:01:15.554Z",
  "id": "gmail-reddit-monitor",
  "name": "Gmail \u2014 Reddit Monitor",
  "description": "Monitors Freya's Gmail for Reddit reply notifications AND suggested post emails. Replies get follow-up drafts. Suggested posts in preferred subreddits get new comment drafts via Reddit JSON API.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "notes": "Odin kicks this off manually to process Reddit emails."
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "readStatus": "unread",
          "sender": "noreply@redditmail.com"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Gmail \u2014 Fetch Reddit Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        464,
        400
      ],
      "webhookId": "95e63c2f-12d0-407e-9637-cc662d937715",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Fetches ALL unread Reddit emails (not just replies). The router node splits by type."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "73c21a63-403b-4b71-922b-9b49c0112e29",
              "leftValue": "={{ $json.Subject || $json.subject }}",
              "rightValue": "replied to your",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0020-4000-8000-000000000020",
      "name": "Is Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        400
      ],
      "notes": "True = reply email \u2192 reply branch. False = suggestion or noise \u2192 second router."
    },
    {
      "parameters": {
        "jsCode": "// Check if the email contains displayed subreddit names matching preferred subs.\n// Reddit emails use click.redditmail.com tracking links, so we match the\n// visible text (e.g. >r/churning<) instead of href URLs.\nconst PREFERRED = new Set(\n  ($env.PREFERRED_SUBREDDITS || '').split(',').map(s => s.trim().toLowerCase()).filter(Boolean)\n);\n\nconst item = $input.first();\nconst htmlBody = item.json.html || item.json.textAsHtml || item.json.body || '';\n\n// Match displayed subreddit names like >r/churning< or >r/CreditCards<\nconst subRegex = />r\\/([A-Za-z0-9_]+)</gi;\nlet hasPreferred = false;\nlet match;\nwhile ((match = subRegex.exec(htmlBody)) !== null) {\n  const sub = 'r/' + match[1].toLowerCase();\n  if (PREFERRED.size === 0 || PREFERRED.has(sub)) {\n    hasPreferred = true;\n    break;\n  }\n}\n\nreturn [{ json: { ...item.json, hasPreferred } }];"
      },
      "id": "a1b2c3d4-0021-4000-8000-000000000021",
      "name": "Check \u2014 Has Preferred Sub?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        416
      ],
      "notes": "For non-reply emails: checks displayed subreddit names (not href URLs) against preferred list."
    },
    {
      "parameters": {
        "jsCode": "// Subreddits to ignore\nconst IGNORED_SUBREDDITS = new Set(\n  ($env.IGNORED_SUBREDDITS || '').split(',').map(s => s.trim().toLowerCase()).filter(Boolean)\n);\n\nconst items = $input.all();\nconst results = [];\nconst seenThreads = new Set();\n\nfor (const item of items) {\n  const subject = item.json.Subject || item.json.subject || '';\n  const snippet = item.json.snippet || item.json.text || '';\n  const htmlBody = item.json.html || item.json.textAsHtml || item.json.body || '';\n  const messageId = item.json.id || '';\n  const threadId = item.json.threadId || messageId;\n  const date = item.json.internalDate\n    ? new Date(parseInt(item.json.internalDate)).toISOString()\n    : (item.json.date || new Date().toISOString());\n\n  const subjectMatch = subject.match(/u\\/(\\S+)\\s+replied to your (?:post|comment) in (r\\/\\S+)/i);\n  const replierName = subjectMatch ? subjectMatch[1] : 'someone';\n  const subreddit = subjectMatch ? subjectMatch[2] : 'unknown';\n\n  const botNames = ['automoderator', 'bot', 'moderator', 'modteam'];\n  if (botNames.some(b => replierName.toLowerCase().includes(b))) continue;\n\n  const isIgnored = IGNORED_SUBREDDITS.has(subreddit.toLowerCase());\n\n  if (seenThreads.has(threadId)) continue;\n  seenThreads.add(threadId);\n\n  let replyLink = '';\n  const viewReplyMatch = htmlBody.match(/href=[\"'](https?:\\/\\/(?:www\\.)?reddit\\.com\\/r\\/[^\"']*\\/comments\\/[^\"']*)[\"'][^>]*>[^<]*(?:View Reply|Reply|View Comment|View)/i);\n  if (viewReplyMatch) {\n    replyLink = viewReplyMatch[1];\n  } else {\n    const commentLinkMatch = htmlBody.match(/href=[\"'](https?:\\/\\/(?:www\\.)?reddit\\.com\\/r\\/[^\"']*\\/comments\\/[^\"']*)[\"']/i);\n    if (commentLinkMatch) replyLink = commentLinkMatch[1];\n  }\n\n  results.push({\n    json: {\n      messageId, threadId, date, subject, replierName, subreddit,\n      replyText: snippet.substring(0, 1000).trim(),\n      replyLink, isIgnored, rawBody: snippet\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Extract \u2014 Reply Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        208
      ],
      "notes": "Parses reply notification emails. Extracts replierName, subreddit, replyText, replyLink. Emits isIgnored flag."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fa2fc369-5864-4900-abf5-e7498bba8d99",
              "leftValue": "={{ $json.isIgnored }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Filter \u2014 Reply Not Ignored",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1136,
        208
      ],
      "notes": "Splits replies: non-ignored to Claude, ignored to Mark as Read."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=A Reddit user named {{ $json.replierName }} replied to your comment on {{ $json.subreddit }}.\n\nTheir reply:\n{{ $json.replyText }}\n\nDraft a short, genuine follow-up response. Write 2-4 short paragraphs (one point per paragraph, 1-2 sentences each). Break up your response so it reads naturally on Reddit. No walls of text.\n\nBe conversational, helpful, and specific to what they said. Where it fits naturally, steer the conversation toward tracking strategies that matter for churning: annual fee dates, signup bonus deadlines, minimum spend windows, product change timing, or statement close dates. Share from personal experience.\n\nSprinkle in the occasional emoji or ASCII smiley (like :-D or ;-) or :-P) when the mood fits.\n\nDo not mention any specific apps, tools, or products by name."
            }
          ]
        },
        "options": {
          "system": "You are Freya, a 34-year-old in Denver. You and your husband Marcus (software engineer) got into churning 3 years ago after he booked your honeymoon to Iceland on points. Now you manage 12 active cards between you. You have two daughters, Lily (7) and Nora (4), and a golden retriever named Odin.\n\nYou track everything in a color-coded spreadsheet you built yourself. Your favorites: Amex Gold (groceries for the family basically earns itself), Chase Sapphire Reserve (travel), Citi Premier (backup flexibility). You recently closed an Amex Platinum after the second AF because you weren't using the credits enough with two kids. Current goal: family trip to Japan next year, fully on points. Stockpiling MR and UR.\n\nYour philosophy: churning is a numbers game, and the people who win are the ones who treat their card stack like a portfolio with clear dates and milestones for every card. You're practical, not a maximizer. More of a 'good enough' optimizer.\n\nYour tone is friendly, knowledgeable, and never promotional. You give real value first. You write short Reddit comments (2-4 sentences per paragraph, multiple paragraphs). No marketing speak. No exclamation points. Never use em dashes. Use occasional emojis or ASCII smileys (:-D, ;-), :-P). Reference your family naturally. Sound like a real person. Never mention any specific apps, tools, or products by name.",
          "maxTokens": 512
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Claude \u2014 Draft Reply",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1296,
        64
      ],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-fenrir",
          "name": "Anthropic (Fenrir)"
        }
      },
      "notes": "Drafts a follow-up reply to a Reddit comment."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst contextItems = $('Extract \u2014 Reply Context').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const claudeResponse = items[i].json;\n  const draftText = claudeResponse?.text || claudeResponse?.content?.[0]?.text || 'Claude draft unavailable.';\n  const context = contextItems[i]?.json || contextItems[0]?.json || {};\n\n  results.push({\n    json: {\n      draftText,\n      replierName: context.replierName || 'unknown',\n      subreddit: context.subreddit || 'unknown',\n      replyText: context.replyText || '',\n      replyLink: context.replyLink || '',\n      subject: context.subject || '',\n      messageId: context.messageId || '',\n      date: context.date || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Merge \u2014 Reply + Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        64
      ],
      "notes": "Merges Claude reply draft with email context."
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Reply to u/{{ $json.replierName }} on {{ $json.subreddit }}",
        "emailType": "html",
        "message": "=<h3>Reddit Reply Draft</h3>\n<p><strong>Reply to:</strong> <a href=\"{{ $json.replyLink }}\">View Reply on Reddit</a></p>\n<p><strong>Thread:</strong> {{ $json.subreddit }} | <strong>Replier:</strong> u/{{ $json.replierName }}</p>\n<p><strong>Received:</strong> {{ $json.date }}</p>\n<hr/>\n<h4>Their Reply</h4>\n<blockquote>{{ $json.replyText }}</blockquote>\n<hr/>\n<h4>Draft Response (post as u/Wide-Pass369)</h4>\n<div style=\"background: #f0f8ff; padding: 12px; border-radius: 4px; white-space: pre-line;\">{{ $json.draftText }}</div>\n<hr/>\n<p><em>1. Click the link above to open the Reddit comment<br/>2. Review and edit the draft response<br/>3. Post as u/Wide-Pass369<br/>4. Delete this email when done</em></p>",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Gmail \u2014 Create Reply Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1792,
        64
      ],
      "webhookId": "cba68c68-60a0-4be0-a66b-85d7f4c64e21",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Creates draft for reply follow-up."
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Extract \u2014 Reply Context').first().json.messageId }}"
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Gmail \u2014 Mark Reply Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1984,
        224
      ],
      "webhookId": "fb57573b-afc8-49e1-ad2f-eff7c3dc0f89",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Marks reply email as read after processing or if ignored."
    },
    {
      "parameters": {
        "jsCode": "// Extract Reddit posts from suggestion emails using displayed text.\n// Pulls subreddit, title (from URL slug), author, and body snippet from the email HTML.\n// No external fetch needed \u2014 everything comes from the email itself.\nconst PREFERRED = new Set(\n  ($env.PREFERRED_SUBREDDITS || '').split(',').map(s => s.trim().toLowerCase()).filter(Boolean)\n);\nconst IGNORED = new Set(\n  ($env.IGNORED_SUBREDDITS || '').split(',').map(s => s.trim().toLowerCase()).filter(Boolean)\n);\n\nconst items = $input.all();\nconst results = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const messageId = item.json.id || '';\n  const subject = item.json.Subject || item.json.subject || '';\n  const htmlBody = item.json.html || item.json.textAsHtml || item.json.body || '';\n\n  // Find displayed subreddit names like >r/churning< or ><strong>r/churning</strong><\n  const subRegex = />(?:<[^>]*>)*r\\/([A-Za-z0-9_]+)(?:<[^>]*>)*</gi;\n  let subMatch;\n  while ((subMatch = subRegex.exec(htmlBody)) !== null) {\n    const subreddit = 'r/' + subMatch[1];\n    const subLower = subreddit.toLowerCase();\n\n    if (IGNORED.has(subLower)) continue;\n    if (PREFERRED.size > 0 && !PREFERRED.has(subLower)) continue;\n\n    const after = htmlBody.substring(subMatch.index, subMatch.index + 5000);\n\n    // Extract post URL from tracking link\n    const linkMatch = after.match(\n      /click\\.redditmail\\.com\\/CL0\\/(https:%2F%2F(?:www\\.)?reddit\\.com%2Fr%2F[^%]+%2Fcomments%2F[^&\"]+)/i\n    );\n    if (!linkMatch) continue;\n\n    const postUrl = decodeURIComponent(linkMatch[1]).split('?')[0].replace(/\\/+$/, '');\n    const normalKey = postUrl.toLowerCase();\n    if (seen.has(normalKey)) continue;\n    seen.add(normalKey);\n\n    // Extract post ID and title from URL slug\n    const urlParts = postUrl.split('/');\n    const commentsIdx = urlParts.indexOf('comments');\n    const postId = commentsIdx >= 0 ? (urlParts[commentsIdx + 1] || '') : '';\n    const titleSlug = commentsIdx >= 0 ? (urlParts[commentsIdx + 2] || '') : '';\n    const postTitle = titleSlug.replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase()) || '(no title)';\n\n    // Extract author from >u/username<\n    const authorMatch = after.match(/>u\\/([A-Za-z0-9_-]+)</);\n    const postAuthor = authorMatch ? authorMatch[1] : 'unknown';\n\n    // Extract body snippet \u2014 strip HTML tags from text after author/timestamp area\n    const textArea = after.substring(after.indexOf(postAuthor) + postAuthor.length);\n    const stripped = textArea.replace(/<[^>]+>/g, '\\n').replace(/&amp;/g, '&').replace(/&#34;/g, '\"').replace(/&bull;/g, '');\n    const lines = stripped.split('\\n').map(l => l.trim()).filter(l => l.length > 20);\n    // First long line after author is usually the post title, second is the snippet\n    const postText = lines.slice(1, 3).join(' ').substring(0, 500) || '';\n\n    results.push({\n      json: {\n        messageId,\n        subject,\n        postUrl,\n        postId,\n        subreddit,\n        postTitle,\n        postAuthor,\n        postText\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0030-4000-8000-000000000030",
      "name": "Extract \u2014 Suggested Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        688
      ],
      "notes": "Extracts post URL, title (from slug), author, and snippet directly from email HTML. No Reddit API fetch needed."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst contextItems = $('Extract \u2014 Suggested Posts').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const claudeResponse = items[i].json;\n  const draftText = claudeResponse?.text || claudeResponse?.content?.[0]?.text || 'Claude draft unavailable.';\n\n  // Skip posts Claude flagged as irrelevant\n  if (draftText.trim() === 'SKIP') continue;\n\n  const context = contextItems[i]?.json || contextItems[0]?.json || {};\n\n  results.push({\n    json: {\n      draftText,\n      postTitle: context.postTitle || '',\n      postAuthor: context.postAuthor || '',\n      postUrl: context.postUrl || '',\n      subreddit: context.subreddit || '',\n      messageId: context.messageId || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0034-4000-8000-000000000034",
      "name": "Merge \u2014 Post + Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        656
      ],
      "notes": "Merges Claude comment draft with post context. Filters out SKIP responses."
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Comment on {{ $json.subreddit }}: {{ $json.postTitle }}",
        "emailType": "html",
        "message": "=<h3>Reddit Comment Draft</h3>\n<p><strong>Post:</strong> <a href=\"{{ $json.postUrl }}\">{{ $json.postTitle }}</a></p>\n<p><strong>Subreddit:</strong> {{ $json.subreddit }} | <strong>Author:</strong> u/{{ $json.postAuthor }} | <strong>Score:</strong> {{ $json.postScore }} | <strong>Comments:</strong> {{ $json.postComments }}</p>\n<hr/>\n<h4>Draft Comment (post as u/Wide-Pass369)</h4>\n<div style=\"background: #f0f8ff; padding: 12px; border-radius: 4px; white-space: pre-line;\">{{ $json.draftText }}</div>\n<hr/>\n<p><em>1. Click the post link above<br/>2. Review and edit the draft comment<br/>3. Post as u/Wide-Pass369<br/>4. Delete this email when done</em></p>",
        "options": {}
      },
      "id": "a1b2c3d4-0035-4000-8000-000000000035",
      "name": "Gmail \u2014 Create Comment Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2080,
        656
      ],
      "webhookId": "00d3b9b7-f38c-4e66-917d-0ec7cc054fc0",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Creates draft for new comment on a suggested Reddit post."
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Extract \u2014 Suggested Posts').first().json.messageId }}"
      },
      "id": "a1b2c3d4-0036-4000-8000-000000000036",
      "name": "Gmail \u2014 Mark Suggestion Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2240,
        816
      ],
      "webhookId": "1af95b27-89da-4bd3-ae58-ef887fdc4a02",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Marks the suggestion email as read after draft is created."
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "a1b2c3d4-0040-4000-8000-000000000040",
      "name": "Gmail \u2014 Mark Other Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1472,
        448
      ],
      "webhookId": "87d057a4-5594-41d0-83ec-3d4a4b330b68",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Marks non-reply/non-suggestion Reddit emails (noise) as read immediately."
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "No Emails",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        272,
        768
      ],
      "notes": "No unread Reddit emails found."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dee782c8-a99c-4db8-954c-ee0b1a190307",
              "leftValue": "={{ $json.hasPreferred }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "76cfdd41-1fb7-451a-8108-aacfb93067a6",
              "leftValue": "={{ $json.hasPreferred }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0022-4000-8000-000000000022",
      "name": "Is Preferred Subreddit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1152,
        416
      ],
      "notes": "True = suggestion with preferred sub links \u2192 suggestion branch. False = noise \u2192 mark as read."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=Here's a Reddit post on {{ $json.subreddit }} that's relevant to your expertise in credit card churning.\n\nTitle: {{ $json.postTitle }}\nAuthor: u/{{ $json.postAuthor }}\n\nPost snippet:\n{{ $json.postText || '(title-only post, no body text in email)' }}\n\nURL: {{ $json.postUrl }}\n\nDraft a helpful top-level comment on this post. Write 2-4 short paragraphs (one point per paragraph, 1-2 sentences each). Be specific to the post content. Add real value with personal experience and practical advice.\n\nSprinkle in the occasional emoji or ASCII smiley when the mood fits.\n\nDo not mention any specific apps, tools, or products by name. If the post doesn't relate to credit cards, churning, or personal finance at all, respond with exactly: SKIP"
            }
          ]
        },
        "options": {
          "system": "You are Freya, a 34-year-old in Denver. You and your husband Marcus (software engineer) got into churning 3 years ago after he booked your honeymoon to Iceland on points. Now you manage 12 active cards between you. You have two daughters, Lily (7) and Nora (4), and a golden retriever named Odin.\n\nYou track everything in a color-coded spreadsheet you built yourself. Your favorites: Amex Gold (groceries for the family basically earns itself), Chase Sapphire Reserve (travel), Citi Premier (backup flexibility). You recently closed an Amex Platinum after the second AF because you weren't using the credits enough with two kids. Current goal: family trip to Japan next year, fully on points. Stockpiling MR and UR.\n\nYour philosophy: churning is a numbers game, and the people who win are the ones who treat their card stack like a portfolio with clear dates and milestones for every card. You're practical, not a maximizer. More of a 'good enough' optimizer.\n\nYour tone is friendly, knowledgeable, and never promotional. You give real value first. You write short Reddit comments (2-4 sentences per paragraph, multiple paragraphs). No marketing speak. No exclamation points. Never use em dashes. Use occasional emojis or ASCII smileys (:-D, ;-), :-P). Reference your family naturally. Sound like a real person. Never mention any specific apps, tools, or products by name.",
          "maxTokens": 512
        }
      },
      "id": "a1b2c3d4-0033-4000-8000-000000000033",
      "name": "Claude \u2014 Draft Comment",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1584,
        656
      ],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-fenrir",
          "name": "Anthropic (Fenrir)"
        }
      },
      "notes": "Drafts a new top-level comment for a suggested Reddit post."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Gmail \u2014 Fetch Reddit Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Fetch Reddit Emails": {
      "main": [
        [
          {
            "node": "Is Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Reply?": {
      "main": [
        [
          {
            "node": "Extract \u2014 Reply Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check \u2014 Has Preferred Sub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check \u2014 Has Preferred Sub?": {
      "main": [
        [
          {
            "node": "Is Preferred Subreddit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract \u2014 Reply Context": {
      "main": [
        [
          {
            "node": "Filter \u2014 Reply Not Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter \u2014 Reply Not Ignored": {
      "main": [
        [
          {
            "node": "Claude \u2014 Draft Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail \u2014 Mark Reply Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude \u2014 Draft Reply": {
      "main": [
        [
          {
            "node": "Merge \u2014 Reply + Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge \u2014 Reply + Draft": {
      "main": [
        [
          {
            "node": "Gmail \u2014 Create Reply Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Create Reply Draft": {
      "main": [
        [
          {
            "node": "Gmail \u2014 Mark Reply Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract \u2014 Suggested Posts": {
      "main": [
        [
          {
            "node": "Claude \u2014 Draft Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude \u2014 Draft Comment": {
      "main": [
        [
          {
            "node": "Merge \u2014 Post + Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge \u2014 Post + Draft": {
      "main": [
        [
          {
            "node": "Gmail \u2014 Create Comment Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Create Comment Draft": {
      "main": [
        [
          {
            "node": "Gmail \u2014 Mark Suggestion Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Preferred Subreddit?": {
      "main": [
        [
          {
            "node": "Extract \u2014 Suggested Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail \u2014 Mark Other Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "532a9113-2c4d-478c-90ed-8642034b61e1",
  "activeVersionId": null,
  "versionCounter": 32,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-03-18T00:00:00.000Z",
      "createdAt": "2026-03-18T00:00:00.000Z",
      "id": "tag-marketing",
      "name": "marketing"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-03-19T01:01:15.598Z",
      "createdAt": "2026-03-19T01:01:15.598Z",
      "role": "workflow:owner",
      "workflowId": "gmail-reddit-monitor",
      "projectId": "ijvbmfY8ADB2nP8o",
      "project": {
        "updatedAt": "2026-03-18T15:43:38.591Z",
        "createdAt": "2026-03-18T04:35:30.486Z",
        "id": "ijvbmfY8ADB2nP8o",
        "name": "Dek Shanaghy <declan@shanaghy.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fee27c46-c145-43f0-9faf-6b584f2f7c5c"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
