infrastructure/n8n/workflows/gmail-f5bot-monitor.json
{
  "updatedAt": "2026-03-22T00:00:00.000Z",
  "createdAt": "2026-03-22T00:00:00.000Z",
  "id": "gmail-f5bot-monitor",
  "name": "Gmail — F5Bot Keyword Monitor",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "f5b0-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "notes": "Odin kicks this off manually to process F5Bot keyword alert emails.\n\nFUTURE: Replace with a Webhook node — set up a Gmail filter (From: alerts@f5bot.com, Subject: F5Bot found something) that forwards matching emails to the n8n webhook URL. This eliminates manual polling entirely."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 20,
        "filters": {
          "sender": "f5bot",
          "subject": "F5Bot found something",
          "readStatus": "unread"
        },
        "simple": false,
        "options": {
          "attachmentsBinaryData": false
        }
      },
      "id": "f5b0-0002-4000-8000-000000000002",
      "name": "Gmail — Fetch F5Bot Alerts",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Reads unread F5Bot keyword alert emails from freyafenrir@gmail.com.\n\nF5Bot sends from alerts@f5bot.com with subject 'F5Bot found something: <keyword>'.\nsimple: false returns the full Gmail message payload (including HTML body) rather than the simplified snippet. This is required to extract Reddit URLs from the email body."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-f5bot-subject",
              "leftValue": "={{ $json.Subject || $json.subject || '' }}",
              "rightValue": "F5Bot found something",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5b0-0003-4000-8000-000000000003",
      "name": "Filter — F5Bot Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "notes": "Secondary guard: only process emails whose subject explicitly contains 'F5Bot found something'. The Gmail fetch already filters by sender + subject, but this provides defense-in-depth against mis-filtered messages."
    },
    {
      "parameters": {
        "jsCode": "// Subreddits to ignore - read from env var (K8s configmap n8n-workflow-config)\n// Update via: kubectl edit configmap n8n-workflow-config -n fenrir-marketing\n// Format: comma-separated, e.g. \"r/sportscards,r/othersub\"\nconst IGNORED_SUBREDDITS = new Set(\n  ($env.IGNORED_SUBREDDITS || '').split(',').map(s => s.trim().toLowerCase()).filter(Boolean)\n);\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const emailId = item.json.id || '';\n  const subject = item.json.Subject || item.json.subject || '';\n\n  const keywordMatch = subject.match(/F5Bot found something:\\s*(.+)/i);\n  const keyword = keywordMatch ? keywordMatch[1].trim() : 'unknown';\n\n  let bodyText = '';\n  if (item.json.payload) {\n    const getParts = (part) => {\n      if (!part) return [];\n      const out = [];\n      if (part.body && part.body.data) {\n        out.push({ mimeType: part.mimeType || '', data: part.body.data });\n      }\n      if (part.parts) {\n        for (const p of part.parts) out.push(...getParts(p));\n      }\n      return out;\n    };\n    const parts = getParts(item.json.payload);\n    const htmlPart = parts.find(p => p.mimeType === 'text/html')\n      || parts.find(p => p.mimeType === 'text/plain')\n      || parts[0];\n    if (htmlPart && htmlPart.data) {\n      try {\n        bodyText = Buffer.from(htmlPart.data, 'base64url').toString('utf-8');\n      } catch (e) {\n        bodyText = Buffer.from(htmlPart.data, 'base64').toString('utf-8');\n      }\n    }\n  }\n  if (!bodyText) {\n    bodyText = item.json.html || item.json.textAsHtml || item.json.text || item.json.snippet || '';\n  }\n\n  const seen = new Set();\n\n  // F5Bot HTML structure per mention:\n  //   <p style='margin-left:10px'>\n  //     Reddit Posts (/r/SUBREDDIT/): <a href='https://f5bot.com/url?u=ENCODED_URL'>POST TITLE</a> by USERNAME<br>\n  //     <span style='...'>SNIPPET with <strong>keyword</strong> highlighted</span>\n  //   </p>\n  //\n  // Parse each <p> block to extract: subreddit, URL, title, author, snippet, type (Posts vs Comments)\n\n  const blockRegex = /Reddit\\s+(Posts|Comments)\\s+\\(\\/r\\/([^/]+)\\/\\):\\s*<a\\s+href='[^']*f5bot\\.com\\/url\\?u=([^&']+)[^']*'>([^<]+)<\\/a>\\s*by\\s+(\\S+)\\s*<br>\\s*\\n?\\s*<span[^>]*>([\\s\\S]*?)<\\/span>/gi;\n\n  let match;\n  while ((match = blockRegex.exec(bodyText)) !== null) {\n    const type = match[1].toLowerCase();  // \"posts\" or \"comments\"\n    const subreddit = 'r/' + match[2];\n    let redditUrl;\n    try {\n      redditUrl = decodeURIComponent(match[3]);\n    } catch (e) {\n      continue;\n    }\n    const postTitle = match[4].trim();\n    const author = match[5].trim();\n    const rawSnippet = match[6]\n      .replace(/<strong>/gi, '')\n      .replace(/<\\/strong>/gi, '')\n      .replace(/<[^>]+>/g, '')\n      .trim();\n\n    const cleanUrl = redditUrl.split('?')[0].split('#')[0].replace(/\\/+$/, '');\n    const normalKey = cleanUrl.toLowerCase();\n    if (seen.has(normalKey)) continue;\n    seen.add(normalKey);\n\n    // Skip ignored subreddits\n    if (IGNORED_SUBREDDITS.has(subreddit.toLowerCase())) continue;\n\n    const isComment = type === 'comments';\n\n    results.push({\n      json: {\n        emailId,\n        subject,\n        keyword,\n        redditUrl: cleanUrl,\n        isComment,\n        subreddit,\n        postTitle,\n        author,\n        snippet: rawSnippet.substring(0, 1500)\n      }\n    });\n  }\n\n  // Fallback: if HTML parsing found nothing, try extracting from plain text\n  if (results.length === 0) {\n    const textBody = item.json.text || item.json.snippet || '';\n    const textRegex = /Reddit\\s+(Posts|Comments)\\s+\\(\\/r\\/([^/]+)\\/\\):\\s*'([^']+)'\\s+by\\s+(\\S+)\\s*\\n\\s*(https?:\\/\\/f5bot\\.com\\/url\\?u=(\\S+))/gi;\n    let tm;\n    while ((tm = textRegex.exec(textBody)) !== null) {\n      const type = tm[1].toLowerCase();\n      const subreddit = 'r/' + tm[2];\n      const postTitle = tm[3].trim();\n      const author = tm[4].trim();\n      let redditUrl;\n      try {\n        redditUrl = decodeURIComponent(tm[6].split('&')[0]);\n      } catch (e) {\n        continue;\n      }\n      const cleanUrl = redditUrl.split('?')[0].split('#')[0].replace(/\\/+$/, '');\n      const normalKey = cleanUrl.toLowerCase();\n      if (seen.has(normalKey)) continue;\n      seen.add(normalKey);\n\n      // Skip ignored subreddits\n      if (IGNORED_SUBREDDITS.has(subreddit.toLowerCase())) continue;\n\n      results.push({\n        json: {\n          emailId,\n          subject,\n          keyword,\n          redditUrl: cleanUrl,\n          isComment: type === 'comments',\n          subreddit,\n          postTitle,\n          author,\n          snippet: ''\n        }\n      });\n    }\n  }\n}\n\nreturn results;\n"
      },
      "id": "f5b0-0004-4000-8000-000000000004",
      "name": "Extract — Reddit Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        220
      ],
      "notes": "Parses the HTML body of each F5Bot alert email to extract all Reddit post/comment URLs.\nEmits one item per unique Reddit link — n8n fan-out iterates all downstream nodes per item.\nDeduplicates URLs within each email. Detects comment vs post by URL path depth (6+ segments = comment)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-link",
              "leftValue": "={{ $json.redditUrl }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5b0-0005-4000-8000-000000000005",
      "name": "Filter — Has Links?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        220
      ],
      "notes": "Safety guard: only process items with a valid Reddit URL (starts with http). Handles edge cases where Extract — Reddit Links might emit a malformed item."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "messages": {
          "values": [
            {
              "content": "=F5Bot found a mention of the keyword \"{{ $json.keyword }}\" on {{ $json.subreddit }}.\n\nPost: {{ $json.postTitle }}\nAuthor: u/{{ $json.author }}\n\nContent:\n{{ $json.snippet || \"(no snippet available)\" }}\n\nURL: {{ $json.redditUrl }}\n\n{{ $json.isComment ? \"This is a comment. Draft a reply to the specific comment.\" : \"This is a post. Draft a top-level reply.\" }} Write 2-4 short paragraphs (one point per paragraph) that add real value to this discussion. Each paragraph should be 1-2 sentences max. Break up your response so it reads naturally on Reddit. No walls of text.\n\nSprinkle in the occasional emoji or ASCII smiley (like :-D or ;-) or :-P) to keep the tone casual and human. Not every comment needs one, but use them when the mood fits.\n\nBe specific to the content above. Only mention tracking tools or apps if the conversation naturally calls for it."
            }
          ]
        },
        "options": {
          "systemMessage": "You are Freya, a 34-year-old in Denver. You and your husband Marcus (software engineer) got into churning 3 years ago after he booked your honeymoon to Iceland on points. Now you manage 12 active cards between you. You have two daughters, Lily (7) and Nora (4), and a golden retriever named Odin.\n\nYou track everything in a color-coded spreadsheet you built yourself. Your favorites: Amex Gold (groceries for the family basically earns itself), Chase Sapphire Reserve (travel), Citi Premier (backup flexibility). You recently closed an Amex Platinum after the second AF because you weren't using the credits enough with two kids. Current goal: family trip to Japan next year, fully on points. Stockpiling MR and UR.\n\nYour philosophy: churning is a numbers game, and the people who win are the ones who treat their card stack like a portfolio with clear dates and milestones for every card. You're practical, not a maximizer. More of a 'good enough' optimizer.\n\nYour tone is friendly, knowledgeable, and never promotional. You give real value first with specific advice, honest opinions, and genuine engagement. You write short Reddit comments (2-4 sentences per paragraph, multiple paragraphs). No marketing speak. No exclamation points. Never use em dashes. Use occasional emojis or ASCII smileys (:-D, ;-), :-P) to sound human and casual. Reference your family naturally: 'my husband and I split the card apps,' 'with two kids under 8 the grocery spend basically earns itself.' Sound like a real person who genuinely enjoys the hobby. Never mention any specific apps, tools, or products by name. When tracking comes up naturally, talk about the strategy and what to track, not what tool to use.",
          "maxTokens": 512
        }
      },
      "id": "f5b0-0008-4000-8000-000000000008",
      "name": "Claude API — Draft Reply",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1780,
        220
      ],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-fenrir",
          "name": "Anthropic (Fenrir)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst contextItems = $('Extract — Reddit Links').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const claudeResponse = items[i].json;\n  const draftText = claudeResponse?.content?.[0]?.text || claudeResponse?.text || 'Claude draft unavailable.';\n  const ctx = contextItems[i]?.json || contextItems[0]?.json || {};\n\n  results.push({\n    json: {\n      draftText,\n      emailId: ctx.emailId || '',\n      keyword: ctx.keyword || '',\n      redditUrl: ctx.redditUrl || '',\n      isComment: ctx.isComment || false,\n      subreddit: ctx.subreddit || '',\n      postTitle: ctx.postTitle || '',\n      author: ctx.author || '',\n      snippet: ctx.snippet || ''\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "f5b0-0009-4000-8000-000000000009",
      "name": "Merge — Context + Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        220
      ],
      "notes": "Extracts Claude's draft text from the API response and merges it with the full post context from Extract — Post Content, so the Gmail Draft node has everything needed to compose the email."
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "=F5Bot: {{ $json.keyword }} | {{ $json.subreddit }} ({{ $json.postTitle }})",
        "emailType": "html",
        "message": "=<h3>F5Bot Keyword Alert: <strong>{{ $json.keyword }}</strong></h3>\n<p>\n  <strong>Post:</strong> <a href=\"{{ $json.redditUrl }}\">{{ $json.postTitle }}</a><br>\n  <strong>Subreddit:</strong> {{ $json.subreddit }}<br>\n  <strong>Author:</strong> u/{{ $json.author }}<br>\n  <strong>Type:</strong> {{ $json.isComment ? \"Comment thread\" : \"Post\" }}\n</p>\n<hr>\n<h4>Content Snippet</h4>\n<blockquote style=\"border-left: 3px solid #ccc; padding-left: 12px; color: #555;\">\n  {{ $json.snippet || \"(no snippet available)\" }}\n</blockquote>\n<hr>\n<h4>Claude Draft Reply</h4>\n<p style=\"background: #f0f8ff; padding: 12px; border-radius: 4px; white-space: pre-line;\">{{ $json.draftText }}</div>\n<hr>\n<p><em>Odin: review the draft above, edit as needed, then post as u/Wide-Pass369. Delete this draft when done.<br>Generated by the F5Bot Monitor n8n workflow.</em></p>",
        "options": {}
      },
      "id": "f5b0-000a-4000-8000-000000000010",
      "name": "Gmail — Create Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2220,
        220
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Creates a Gmail draft in freyafenrir@gmail.com with the Reddit post context and Claude's draft reply.\nOne draft per Reddit link found in the F5Bot alert email.\nOdin reviews each draft, edits if needed, then posts manually as u/Wide-Pass369."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f5b0-000b-4000-8000-000000000011",
      "name": "No Emails Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "notes": "Reached when no unread F5Bot alert emails are present. Workflow ends cleanly — nothing to do."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f5b0-000c-4000-8000-000000000012",
      "name": "No Reddit Links",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        420
      ],
      "notes": "Reached when a F5Bot email item has no valid extractable Reddit URLs. Workflow ends cleanly for that item."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $('Extract — Reddit Links').first().json.emailId }}",
        "updateFields": {
          "removeLabelIds": [
            "UNREAD"
          ]
        }
      },
      "id": "f5b0-0013-4000-8000-000000000013",
      "name": "Gmail — Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2420,
        220
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Marks each F5Bot email as read after its draft has been created. Uses emailId carried through the pipeline. Runs per-item (once per Reddit link), but Gmail handles duplicate mark-read calls gracefully."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Gmail — Fetch F5Bot Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Fetch F5Bot Alerts": {
      "main": [
        [
          {
            "node": "Filter — F5Bot Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — F5Bot Emails": {
      "main": [
        [
          {
            "node": "Extract — Reddit Links",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Emails Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — Reddit Links": {
      "main": [
        [
          {
            "node": "Filter — Has Links?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — Has Links?": {
      "main": [
        [
          {
            "node": "Claude API — Draft Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Reddit Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API — Draft Reply": {
      "main": [
        [
          {
            "node": "Merge — Context + Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Context + Draft": {
      "main": [
        [
          {
            "node": "Gmail — Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Create Draft": {
      "main": [
        [
          {
            "node": "Gmail — Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f5b00001-0000-4000-8000-000000000000",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-03-22T00:00:00.000Z",
      "createdAt": "2026-03-22T00:00:00.000Z",
      "id": "tag-marketing",
      "name": "marketing"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-03-22T00:00:00.000Z",
      "createdAt": "2026-03-22T00:00:00.000Z",
      "role": "workflow:owner",
      "workflowId": "gmail-f5bot-monitor",
      "projectId": "ijvbmfY8ADB2nP8o",
      "project": {
        "updatedAt": "2026-03-18T15:43:38.591Z",
        "createdAt": "2026-03-18T04:35:30.486Z",
        "id": "ijvbmfY8ADB2nP8o",
        "name": "Dek Shanaghy <declan@shanaghy.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fee27c46-c145-43f0-9faf-6b584f2f7c5c"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}