infrastructure/n8n/workflows/gmail-reddit-monitor.json
{
  "name": "Gmail — Reddit Reply Monitor",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Odin kicks this off manually when he wants to check for Reddit replies.\n\nFUTURE: Replace with a Webhook node — set up a Gmail filter (From: noreply@reddit.com, Subject: replied to your comment) that forwards matching emails to the n8n webhook URL. This eliminates manual polling entirely."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "filters": {
          "sender": "noreply@reddit.com",
          "subject": "replied to your comment",
          "readStatus": "unread"
        },
        "options": {
          "attachmentsBinaryData": false
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Gmail — Fetch Reddit Replies",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "freya-gmail-oauth2",
          "name": "Freya Gmail OAuth2 (freyafenrir@gmail.com)"
        }
      },
      "notes": "Reads unread emails from freyafenrir@gmail.com sent by noreply@reddit.com with subject matching 'replied to your comment'.\n\nCredentials are sourced from the n8n-secrets K8s secret (GMAIL_CLIENT_ID, GMAIL_CLIENT_SECRET, GMAIL_REFRESH_TOKEN). Configure the credential named 'Freya Gmail OAuth2 (freyafenrir@gmail.com)' in the n8n Credentials UI before activating."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-subject-check",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "replied to your comment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Filter — Reddit Reply Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Secondary guard: only process emails whose subject explicitly contains 'replied to your comment'. The Gmail fetch already filters by sender + subject, but this provides defense-in-depth against mis-filtered messages."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const subject = item.json.subject || '';\n  const body = item.json.text || item.json.snippet || '';\n  const from = item.json.from?.value?.[0]?.address || item.json.from || '';\n  const messageId = item.json.id || '';\n  const date = item.json.date || new Date().toISOString();\n\n  // Extract thread context from subject: '[reddit] username replied to your comment on r/subreddit'\n  const subjectMatch = subject.match(/\\[reddit\\]\\s+(.+?)\\s+replied to your comment/i);\n  const replierName = subjectMatch ? subjectMatch[1] : 'someone';\n\n  // Extract subreddit from subject if present\n  const subredditMatch = subject.match(/\\bon\\s+(r\\/[\\w]+)/i);\n  const subreddit = subredditMatch ? subredditMatch[1] : 'a subreddit';\n\n  // Extract the reply text from the email body\n  // Reddit notification emails contain the reply text before the separator\n  const replyMatch = body.match(/([\\s\\S]*?)(?:---\\s*|View the full comment|\\|\\s*Reply|unsubscribe)/i);\n  const replyText = replyMatch ? replyMatch[1].trim() : body.substring(0, 1000);\n\n  results.push({\n    json: {\n      messageId,\n      date,\n      subject,\n      replierName,\n      subreddit,\n      replyText,\n      rawBody: body\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Extract — Thread Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220],
      "notes": "Parses the Gmail message to extract:\n- replierName: the Reddit username who replied\n- subreddit: where the thread lives\n- replyText: the content of their reply (stripped of email footer boilerplate)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-haiku-20241022\",\n  \"max_tokens\": 512,\n  \"system\": \"You are Freya, a helpful member of personal finance communities who uses Fenrir Ledger to track credit card annual fees and bonus milestones. Your tone is friendly, knowledgeable, and never promotional. You give real value first — specific advice, honest opinions, genuine engagement. You never say 'Fenrir Ledger' unless directly asked. You write short Reddit comments (2–4 sentences). No marketing speak. No exclamation points. Sound like a real person who cares about the hobby.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"A Reddit user named {{ $json.replierName }} replied to your comment on {{ $json.subreddit }}.\\n\\nTheir reply:\\n{{ $json.replyText }}\\n\\nDraft a short, genuine follow-up response (2-4 sentences). Be conversational, helpful, and specific to what they said. Do not mention any apps or tools unless they bring it up first.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Claude API — Draft Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-key",
          "name": "Anthropic API Key"
        }
      },
      "notes": "Calls the Claude API (claude-3-5-haiku for cost efficiency) to draft a short, brand-voice-aligned follow-up to the Reddit reply.\n\nCredential 'Anthropic API Key' must be configured in n8n with:\n  Header name: x-api-key\n  Value: <FENRIR_ANTHROPIC_API_KEY from n8n-secrets>"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const claudeResponse = item.json;\n  const draftText = claudeResponse?.content?.[0]?.text || 'Claude draft unavailable — check API credentials.';\n  \n  // Pass through context from earlier in the chain\n  const context = $('Extract — Thread Context').first().json;\n\n  results.push({\n    json: {\n      draftText,\n      replierName: context.replierName,\n      subreddit: context.subreddit,\n      replyText: context.replyText,\n      subject: context.subject,\n      messageId: context.messageId,\n      date: context.date\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Merge — Context + Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 220],
      "notes": "Extracts the Claude draft text from the API response and merges it with the email context data so the GitHub issue node has everything it needs."
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": "declanshanaghy",
        "repository": "fenrir-ledger",
        "title": "=Follow-up: {{ $json.replierName }} replied on {{ $json.subreddit }}",
        "body": "=## Reddit Reply — Follow-up Draft\n\n**Thread:** {{ $json.subreddit }}\n**Replier:** u/{{ $json.replierName }}\n**Email subject:** {{ $json.subject }}\n**Received:** {{ $json.date }}\n\n---\n\n### Their Reply\n\n> {{ $json.replyText }}\n\n---\n\n### Claude Draft Response\n\n{{ $json.draftText }}\n\n---\n\n*Odin: review the draft above, edit as needed, then post it as u/Wide-Pass369. Delete this issue when done.*\n\n*Generated by the Gmail Reddit Monitor n8n workflow (issue #1236).*",
        "labels": ["marketing"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "GitHub — Create Follow-up Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1560, 220],
      "credentials": {
        "githubApi": {
          "id": "github-fenrir-token",
          "name": "GitHub Fenrir Token"
        }
      },
      "notes": "Creates a GitHub issue in declanshanaghy/fenrir-ledger labelled 'marketing'.\n\nCredential 'GitHub Fenrir Token' must be a fine-grained PAT with Issues: read+write on the fenrir-ledger repo. Store token value in the n8n-secrets K8s secret as GITHUB_N8N_TOKEN."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "No Replies Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420],
      "notes": "Reached when no unread Reddit reply emails are present. Workflow ends cleanly — nothing to do."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Gmail — Fetch Reddit Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Fetch Reddit Replies": {
      "main": [
        [
          {
            "node": "Filter — Reddit Reply Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — Reddit Reply Emails": {
      "main": [
        [
          {
            "node": "Extract — Thread Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Replies Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — Thread Context": {
      "main": [
        [
          {
            "node": "Claude API — Draft Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API — Draft Follow-up": {
      "main": [
        [
          {
            "node": "Merge — Context + Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Context + Draft": {
      "main": [
        [
          {
            "node": "GitHub — Create Follow-up Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-18T00:00:00.000Z",
      "updatedAt": "2026-03-18T00:00:00.000Z",
      "id": "tag-marketing",
      "name": "marketing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T00:00:00.000Z",
  "versionId": "1236-v1"
}
