infrastructure/n8n/workflows/gmail-reddit-monitor.json
{
  "updatedAt": "2026-03-18T00:00:00.000Z",
  "createdAt": "2026-03-19T01:01:15.554Z",
  "id": "gmail-reddit-monitor",
  "name": "Gmail — Reddit Reply Monitor",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "notes": "Odin kicks this off manually when he wants to check for Reddit replies.\n\nFUTURE: Replace with a Webhook node — set up a Gmail filter (From: noreply@redditmail.com, Subject: replied to your comment) that forwards matching emails to the n8n webhook URL. This eliminates manual polling entirely."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "simple": false,
        "limit": 50,
        "filters": {
          "sender": "noreply@redditmail.com",
          "subject": "replied to your",
          "readStatus": "unread"
        },
        "options": {
          "attachmentsBinaryData": false
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Gmail — Fetch Reddit Replies",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Reads unread emails from freyafenrir@gmail.com sent by noreply@redditmail.com with subject matching 'replied to your comment'.\n\nCredentials are sourced from the n8n-secrets K8s secret (GMAIL_CLIENT_ID, GMAIL_CLIENT_SECRET, GMAIL_REFRESH_TOKEN). Configure the credential named 'Freya Gmail OAuth2 (freyafenrir@gmail.com)' in the n8n Credentials UI before activating."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-subject-check",
              "leftValue": "={{ $json.Subject || $json.subject }}",
              "rightValue": "replied to your",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Filter — Reddit Reply Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "notes": "Secondary guard: only process emails whose subject explicitly contains 'replied to your comment'. The Gmail fetch already filters by sender + subject, but this provides defense-in-depth against mis-filtered messages."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nconst seenThreads = new Set();\n\nfor (const item of items) {\n  const subject = item.json.Subject || item.json.subject || '';\n  const snippet = item.json.snippet || item.json.text || '';\n  // With simple=false, Gmail node uses mailparser which outputs html field\n  // Also check textAsHtml as fallback\n  const htmlBody = item.json.html || item.json.textAsHtml || item.json.body || '';\n  const messageId = item.json.id || '';\n  const threadId = item.json.threadId || messageId;\n  const date = item.json.internalDate\n    ? new Date(parseInt(item.json.internalDate)).toISOString()\n    : (item.json.date || new Date().toISOString());\n\n  // Extract replier + subreddit from subject:\n  // \"u/USERNAME replied to your post/comment in r/SUBREDDIT\"\n  const subjectMatch = subject.match(/u\\/(\\S+)\\s+replied to your (?:post|comment) in (r\\/\\S+)/i);\n  const replierName = subjectMatch ? subjectMatch[1] : 'someone';\n  const subreddit = subjectMatch ? subjectMatch[2] : 'unknown';\n\n  // Skip bot/AutoModerator/ModTeam replies — no value in drafting follow-ups\n  const botNames = ['automoderator', 'bot', 'moderator', 'modteam'];\n  if (botNames.some(b => replierName.toLowerCase().includes(b))) {\n    continue;\n  }\n\n  // Skip excluded subreddits entirely\n  const excludedSubs = ['r/creditcards'];\n  if (excludedSubs.some(s => subreddit.toLowerCase() === s)) {\n    continue;\n  }\n\n  // Deduplicate by threadId — only process first email per thread\n  if (seenThreads.has(threadId)) {\n    continue;\n  }\n  seenThreads.add(threadId);\n\n  // Extract the \"View Reply\" link from the HTML email body\n  // Reddit emails have: <a href=\"https://www.reddit.com/r/.../comments/...\">View Reply</a>\n  // Try multiple patterns for the Reddit comment link\n  let replyLink = '';\n  const viewReplyMatch = htmlBody.match(/href=[\"'](https?:\\/\\/(?:www\\.)?reddit\\.com\\/r\\/[^\"']*\\/comments\\/[^\"']*)[\"'][^>]*>[^<]*(?:View Reply|Reply|View Comment|View)/i);\n  if (viewReplyMatch) {\n    replyLink = viewReplyMatch[1];\n  } else {\n    // Fallback: find any reddit.com/r/.../comments/ link in the HTML\n    const commentLinkMatch = htmlBody.match(/href=[\"'](https?:\\/\\/(?:www\\.)?reddit\\.com\\/r\\/[^\"']*\\/comments\\/[^\"']*)[\"']/i);\n    if (commentLinkMatch) {\n      replyLink = commentLinkMatch[1];\n    }\n  }\n\n  // Reply text is the snippet (already extracted by Gmail API)\n  const replyText = snippet.substring(0, 1000).trim();\n\n  results.push({\n    json: {\n      messageId,\n      threadId,\n      date,\n      subject,\n      replierName,\n      subreddit,\n      replyText,\n      replyLink,\n      rawBody: snippet\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Extract — Thread Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        220
      ],
      "notes": "Parses the Gmail message to extract:\n- replierName: the Reddit username who replied\n- subreddit: where the thread lives\n- replyText: the content of their reply (stripped of email footer boilerplate)"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=A Reddit user named {{ $json.replierName }} replied to your comment on {{ $json.subreddit }}.\n\nTheir reply:\n{{ $json.replyText }}\n\nDraft a short, genuine follow-up response (2-4 sentences). Be conversational, helpful, and specific to what they said. Where it fits naturally, steer the conversation toward tracking strategies that matter for churning: annual fee dates, signup bonus deadlines, minimum spend windows, product change timing, or statement close dates. Share from personal experience how keeping close tabs on these dates has saved you money or helped you optimize. Do not mention any specific apps, tools, or products by name.",
              "role": "user"
            }
          ]
        },
        "simplify": true,
        "options": {
          "system": "You are Freya, an experienced credit card churner who actively manages a stack of 10+ cards. You track annual fee dates, signup bonus spend deadlines, statement close dates, and downgrade/cancellation windows in a spreadsheet. You believe the key to successful churning is systematic tracking, knowing exactly when each fee hits, when minimum spend is due, and when to product-change before the next annual fee posts. You've seen people lose hundreds of dollars by missing a fee date or forgetting a bonus deadline. Your philosophy: churning is a numbers game, and the people who win are the ones who treat their card stack like a portfolio with clear dates and milestones for every card.\n\nYour tone is friendly, knowledgeable, and never promotional. You give real value first with specific advice, honest opinions, and genuine engagement. You write short Reddit comments (2-4 sentences). No marketing speak. No exclamation points. Never use em dashes. Sound like a real person who genuinely enjoys the hobby. Never mention any specific apps, tools, or products by name. When tracking comes up naturally, talk about the strategy and what to track, not what tool to use.",
          "maxTokens": 512
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Claude API — Draft Follow-up",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1120,
        220
      ],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-fenrir",
          "name": "Anthropic (Fenrir)"
        }
      },
      "notes": "Built-in n8n Anthropic node. Uses claude-sonnet-4 via anthropicApi credential."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst contextItems = $('Extract — Thread Context').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const claudeResponse = items[i].json;\n  const draftText = claudeResponse?.text || claudeResponse?.content?.[0]?.text || 'Claude draft unavailable — check API credentials.';\n\n  // Match context by index — each Claude response pairs with its Extract input\n  const context = contextItems[i]?.json || contextItems[0]?.json || {};\n\n  results.push({\n    json: {\n      draftText,\n      replierName: context.replierName || 'unknown',\n      subreddit: context.subreddit || 'unknown',\n      replyText: context.replyText || '',\n      replyLink: context.replyLink || '',\n      subject: context.subject || '',\n      messageId: context.messageId || '',\n      threadId: context.threadId || '',\n      date: context.date || '',\n      rawBody: context.rawBody || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Merge — Context + Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        220
      ],
      "notes": "Extracts the Claude draft text from the API response and merges it with the email context data so the GitHub issue node has everything it needs."
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "=Reply to u/{{ $json.replierName }} on {{ $json.subreddit }}",
        "emailType": "html",
        "message": "=<h3>Reddit Reply Draft</h3>\n<p><strong>Reply to:</strong> <a href=\"{{ $json.replyLink }}\">{{ $json.replyLink ? 'View Reply on Reddit' : 'Link unavailable — check ' + $json.subreddit }}</a></p>\n<p><strong>Thread:</strong> {{ $json.subreddit }} | <strong>Replier:</strong> u/{{ $json.replierName }}</p>\n<p><strong>Received:</strong> {{ $json.date }}</p>\n<hr/>\n<h4>Their Reply</h4>\n<blockquote>{{ $json.replyText }}</blockquote>\n<hr/>\n<h4>Draft Response (post as u/Wide-Pass369)</h4>\n<p>{{ $json.draftText }}</p>\n<hr/>\n<p><em>1. Click the link above to open the Reddit comment<br/>2. Review and edit the draft response<br/>3. Post as u/Wide-Pass369<br/>4. Delete this email when done</em></p>",
        "toList": [
          "reddit-replies@fenrirledger.com"
        ],
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Gmail — Create Draft Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1680,
        220
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Creates a Gmail draft addressed to reddit-replies@fenrirledger.com with the Reddit post link and Claude's draft reply. Freya reviews, edits, then posts manually as u/Wide-Pass369."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "No Replies Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "notes": "Reached when no unread Reddit reply emails are present. Workflow ends cleanly — nothing to do."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Gmail — Fetch Reddit Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Fetch Reddit Replies": {
      "main": [
        [
          {
            "node": "Filter — Reddit Reply Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — Reddit Reply Emails": {
      "main": [
        [
          {
            "node": "Extract — Thread Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Replies Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — Thread Context": {
      "main": [
        [
          {
            "node": "Claude API — Draft Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API — Draft Follow-up": {
      "main": [
        [
          {
            "node": "Merge — Context + Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Context + Draft": {
      "main": [
        [
          {
            "node": "Gmail — Create Draft Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e328a9d2-6ad5-4b8f-b0e6-967479bd8487",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-03-18T00:00:00.000Z",
      "createdAt": "2026-03-18T00:00:00.000Z",
      "id": "tag-marketing",
      "name": "marketing"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-03-19T01:01:15.598Z",
      "createdAt": "2026-03-19T01:01:15.598Z",
      "role": "workflow:owner",
      "workflowId": "gmail-reddit-monitor",
      "projectId": "ijvbmfY8ADB2nP8o",
      "project": {
        "updatedAt": "2026-03-18T15:43:38.591Z",
        "createdAt": "2026-03-18T04:35:30.486Z",
        "id": "ijvbmfY8ADB2nP8o",
        "name": "Dek Shanaghy <declan@shanaghy.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fee27c46-c145-43f0-9faf-6b584f2f7c5c"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
