infrastructure/n8n/workflows/gmail-automod-digest.json
{
  "updatedAt": "2026-04-05T04:19:43.000Z",
  "createdAt": "2026-03-22T09:30:00.000Z",
  "id": "gmail-automod-digest",
  "name": "Gmail — AutoModerator Digest",
  "description": "Collects AutoModerator removal notices from Freya's Gmail and creates a single digest GitHub issue for review.",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "automod-0001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "filters": {
          "sender": "noreply@redditmail.com",
          "subject": "AutoModerator",
          "readStatus": "unread"
        },
        "options": {
          "attachmentsBinaryData": false
        }
      },
      "id": "automod-0002",
      "name": "Gmail — Fetch AutoMod Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-automod-check",
              "leftValue": "={{ $json.Subject || $json.subject }}",
              "rightValue": "AutoModerator",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "automod-0003",
      "name": "Filter — AutoMod Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const subject = item.json.Subject || item.json.subject || '';\n  const body = item.json.snippet || item.json.text || '';\n  const messageId = item.json.id || '';\n  const date = item.json.internalDate\n    ? new Date(parseInt(item.json.internalDate)).toISOString()\n    : (item.json.date || new Date().toISOString());\n\n  // Extract subreddit: \"u/AutoModerator replied to your comment in r/SUBREDDIT\"\n  const subMatch = subject.match(/in (r\\/\\S+)/i);\n  const subreddit = subMatch ? subMatch[1] : 'unknown';\n\n  // Extract action type: replied to your post vs comment\n  const actionMatch = subject.match(/replied to your (post|comment)/i);\n  const action = actionMatch ? actionMatch[1] : 'post/comment';\n\n  const reason = body.substring(0, 500).trim();\n\n  results.push({\n    json: {\n      messageId,\n      date,\n      subject,\n      subreddit,\n      action,\n      reason\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "automod-0004",
      "name": "Extract — Removal Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date().toISOString().slice(0, 10);\n\nif (items.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nlet body = `## AutoModerator Digest — ${now}\\n\\n`;\nbody += `**${items.length} removal(s) detected**\\n\\n`;\nbody += `| # | Subreddit | Action | Date | Reason |\\n`;\nbody += `|---|-----------|--------|------|--------|\\n`;\n\nfor (let i = 0; i < items.length; i++) {\n  const d = items[i].json;\n  const shortDate = d.date ? d.date.slice(0, 10) : '?';\n  const shortReason = d.reason.replace(/[\\n\\r]+/g, ' ').substring(0, 80);\n  body += `| ${i + 1} | ${d.subreddit} | ${d.action} | ${shortDate} | ${shortReason} |\\n`;\n}\n\nbody += `\\n---\\n\\n`;\n\nfor (let i = 0; i < items.length; i++) {\n  const d = items[i].json;\n  body += `### ${i + 1}. ${d.subreddit} — ${d.action} removed\\n\\n`;\n  body += `**Date:** ${d.date}\\n`;\n  body += `**Subject:** ${d.subject}\\n\\n`;\n  body += `> ${d.reason.replace(/[\\n\\r]+/g, '\\n> ')}\\n\\n`;\n}\n\nbody += `---\\n*Generated by AutoModerator Digest n8n workflow.*`;\n\nreturn [{\n  json: {\n    title: `AutoMod Digest: ${items.length} removal(s) — ${now}`,\n    body,\n    count: items.length\n  }\n}];"
      },
      "id": "automod-0005",
      "name": "Build — Digest Issue Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-items",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "automod-0006",
      "name": "Has Removals?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        220
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": "declanshanaghy",
        "repository": "fenrir-ledger",
        "title": "={{ $json.title }}",
        "body": "={{ $json.body }}",
        "labels": [
          "marketing"
        ],
        "additionalFields": {}
      },
      "id": "automod-0007",
      "name": "GitHub — Create Digest Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1560,
        140
      ],
      "credentials": {
        "githubApi": {
          "id": "github-fenrir-token",
          "name": "GitHub Fenrir Token"
        }
      }
    },
    {
      "parameters": {},
      "id": "automod-0008",
      "name": "No Removals Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {},
      "id": "automod-0009",
      "name": "No New Removals",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1560,
        340
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Gmail — Fetch AutoMod Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Fetch AutoMod Emails": {
      "main": [
        [
          {
            "node": "Filter — AutoMod Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — AutoMod Only": {
      "main": [
        [
          {
            "node": "Extract — Removal Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Removals Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — Removal Details": {
      "main": [
        [
          {
            "node": "Build — Digest Issue Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build — Digest Issue Body": {
      "main": [
        [
          {
            "node": "Has Removals?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Removals?": {
      "main": [
        [
          {
            "node": "GitHub — Create Digest Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Removals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "0c921587-ef0d-4b9f-beca-bb0a2bdef823",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-03-18T00:00:00.000Z",
      "createdAt": "2026-03-18T00:00:00.000Z",
      "id": "tag-marketing",
      "name": "marketing"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-03-22T09:50:58.596Z",
      "createdAt": "2026-03-22T09:50:58.596Z",
      "role": "workflow:owner",
      "workflowId": "gmail-automod-digest",
      "projectId": "ijvbmfY8ADB2nP8o",
      "project": {
        "updatedAt": "2026-03-18T15:43:38.591Z",
        "createdAt": "2026-03-18T04:35:30.486Z",
        "id": "ijvbmfY8ADB2nP8o",
        "name": "Dek Shanaghy <declan@shanaghy.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fee27c46-c145-43f0-9faf-6b584f2f7c5c"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
