infrastructure/n8n/workflows/reddit-post-composer.json
{
  "id": "reddit-post-composer",
  "name": "Reddit Post Composer",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "00000001-0000-4000-8000-000000000001",
      "name": "Trigger — Random",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 200],
      "notes": "Random mode: picks a random sub from the launch set and a random prompt (1-3). Produces an original standalone Reddit post draft."
    },
    {
      "parameters": {},
      "id": "00000002-0000-4000-8000-000000000002",
      "name": "Trigger — Chosen",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 440],
      "notes": "Chosen mode: operator edits the Use Chosen node below to pick a specific sub + prompt number. Produces an original standalone Reddit post draft."
    },
    {
      "parameters": {
        "jsCode": "// Fixed launch set — only these 5 subs. Not read from PREFERRED_SUBREDDITS env var\n// because PREFERRED has 17 subs but we only compose for the 5 launch subs.\nconst LAUNCH_SUBS = [\"amex\", \"awardtravel\", \"ynab\", \"delta\", \"marriottbonvoy\"];\n\n// Defensive check against IGNORED_SUBREDDITS env var.\nconst ignoredRaw = $env.IGNORED_SUBREDDITS || \"\";\nconst ignored = new Set(\n  ignoredRaw.split(\",\").map(function (s) { return s.trim().replace(/^r\\//i, \"\").toLowerCase(); }).filter(Boolean)\n);\n\nconst candidates = LAUNCH_SUBS.filter(function (s) { return !ignored.has(s); });\nif (candidates.length === 0) {\n  throw new Error(\"All 5 launch subs are in IGNORED_SUBREDDITS — nothing to compose.\");\n}\n\nconst subKey = candidates[Math.floor(Math.random() * candidates.length)];\nconst promptNumber = 1 + Math.floor(Math.random() * 3); // 1..3\n\nreturn [{ json: { subKey: subKey, promptNumber: promptNumber, trigger: \"random\" } }];\n"
      },
      "id": "00000003-0000-4000-8000-000000000003",
      "name": "Pick Random Sub + Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 200],
      "notes": "Picks a random sub from the hardcoded launch set and a random prompt (1-3). Defensively skips any launch sub present in $env.IGNORED_SUBREDDITS."
    },
    {
      "parameters": {
        "jsCode": "// EDIT THESE BEFORE RUNNING THE CHOSEN TRIGGER:\nconst targetSubreddit = \"amex\";   // one of: amex, awardtravel, ynab, delta, marriottbonvoy\nconst promptNumber = 1;            // 1, 2, or 3\n\nconst LAUNCH_SUBS = [\"amex\", \"awardtravel\", \"ynab\", \"delta\", \"marriottbonvoy\"];\nconst subKey = targetSubreddit.trim().replace(/^r\\//i, \"\").toLowerCase();\n\nif (LAUNCH_SUBS.indexOf(subKey) === -1) {\n  throw new Error(\"targetSubreddit must be one of \" + LAUNCH_SUBS.join(\", \") + \" — got '\" + subKey + \"'\");\n}\nif (!Number.isInteger(promptNumber) || promptNumber < 1 || promptNumber > 3) {\n  throw new Error(\"promptNumber must be 1, 2, or 3 — got \" + promptNumber);\n}\n\n// Defensive ignore check.\nconst ignoredRaw = $env.IGNORED_SUBREDDITS || \"\";\nconst ignored = new Set(\n  ignoredRaw.split(\",\").map(function (s) { return s.trim().replace(/^r\\//i, \"\").toLowerCase(); }).filter(Boolean)\n);\nif (ignored.has(subKey)) {\n  throw new Error(\"Refusing to compose for \" + subKey + \" — it is in IGNORED_SUBREDDITS.\");\n}\n\nreturn [{ json: { subKey: subKey, promptNumber: promptNumber, trigger: \"chosen\" } }];\n"
      },
      "id": "00000004-0000-4000-8000-000000000004",
      "name": "Use Chosen Sub + Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 440],
      "notes": "Operator edits the first two consts before running the Chosen trigger. Validates the sub is in the launch set and not in IGNORED_SUBREDDITS."
    },
    {
      "parameters": {
        "jsCode": "// SUBREDDIT_PROFILES — embedded profile data for the 5 launch subs.\n// Source of truth for humans: product/research/reddit/<sub>/profile-reduced.md\n// When those files change, this lookup must be updated manually to match.\n// See #2134 and product/research/reddit/reddit-post-composer.md for the full design.\n//\n// ALL PROMPTS GENERATE STANDALONE POSTS (not reply-to-thread comments).\n// Every output MUST include a descriptive title.\n\nconst SUBREDDIT_PROFILES = {\n  amex: {\n    displayName: \"r/amex\",\n    size: \"527k\",\n    promotion: \"INDIRECT\",\n    voice: \"Knowledgeable Amex cardholder. Specific about benefit credits and reset calendars. First person, prose-heavy. Comfortable naming cards by shorthand (Plat, Gold, Biz Plat).\",\n    rules: [\n      \"Never name Fenrir or link fenrirledger.com in the body of the post.\",\n      \"May say 'I built a small tracker' or 'I use something I made for this' — once per post max.\",\n      \"May offer 'happy to share what I use if anyone wants' as a soft follow-up.\",\n      \"No cold link drops. No marketing-speak.\",\n      \"No repeating the soft mention across multiple posts in the same week.\"\n    ],\n    jargon: [\"MR\", \"AF\", \"Gold\", \"Plat\", \"Biz Plat\", \"BCE\", \"BCP\", \"NLL\", \"popup jail\", \"2/90\", \"PC\", \"Uber Cash\", \"airline fee credit\", \"CLEAR\", \"Equinox\", \"SUB\", \"Amex Offers\"],\n    topicHooks: [\n      \"Is the Amex Plat worth $695? — lead with a credit-by-credit breakdown, then mention tracking.\",\n      \"How to track benefit credits — describe the reset-calendar pain directly.\",\n      \"PC timing and AF date vs. statement date distinction.\",\n      \"Keeping the Plat benefits straight: Uber Cash (monthly), airline credit (Jan reset), hotel credit (card year) — three different clocks.\"\n    ],\n    pitfall: \"Don't stray into Amex Offers, award redemption, popup jail, or application strategy content — those are off-topic for AF/benefit tracking.\",\n    lengthStyle: \"4-8 sentences for the body. Prose, not bullets. Personal perspective: 'I have the Plat and...'\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"Is the Plat AF still worth it?\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/amex asking the community if the Amex Platinum is still worth its $695 annual fee in 2026, from the perspective of someone who holds the card and actively tracks the benefits. Angle: you've done the math but the key insight is the credits don't all reset on the same schedule. If you don't actively track them, you leave money on the table and the AF math breaks. List a few specific credits and their reset schedules: airline fee credit resets in January, Uber Cash is monthly, hotel credit on card anniversary. Mention you built something small to track all of this and offer to share it if anyone wants. Do NOT name Fenrir or link fenrirledger.com. Use r/amex jargon naturally: Plat, MR, AF, Uber Cash, airline fee credit, CLEAR, hotel credit. The tracker mention is one sentence near the end, followed by a soft offer. Write in first person, prose style, 5-8 sentences. Practical, number-oriented tone. End with a question inviting others to share their take.\"\n      },\n      {\n        id: 2,\n        title: \"How I think about the Gold AF decision\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/amex sharing your framework for the annual Gold ($325 AF) keep-downgrade-cancel decision. Angle: (1) the Gold's value depends almost entirely on the dining and Uber Cash credits — if you're using them monthly, it pencils out; if you're not, cancel or PC. (2) The PC path Gold to Green preserves account age while dropping the AF from $325 to $150. (3) Timing matters: you need to call to downgrade before the fee posts, not before the payment due date — these are different days. Name specific credits ($10/month dining at Grubhub/participating restaurants, $10/month Uber Cash). Mention you track AF posting dates with something you built — one sentence only, don't name Fenrir. Use r/amex jargon: Gold, Green, PC, MR, AF, Uber Cash. First person, prose style, 5-7 sentences. Direct, practical tone. Open with the framework, end inviting others to share how they decided.\"\n      },\n      {\n        id: 3,\n        title: \"How do you all track Amex benefit credits?\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/amex asking the community how they track which Amex benefit credits they've used and when each one resets. Angle: you hold multiple Amex cards (at least the Plat) and the benefits page shows availability but doesn't give a clear view of what you've used and what's expiring soon. Name at least 3 specific credits and their reset schedules: airline fee credit (January), Uber Cash (monthly), hotel credit (card anniversary). Explain why this matters: monthly credits you don't use are gone; understanding reset schedules is how you get full value. Mention you ended up building a small tracker to solve this and offer to share if anyone wants. Do NOT name Fenrir or link fenrirledger.com. Use r/amex jargon: Plat, AF, Uber Cash, airline credit, CLEAR, MR. First person, prose style, 5-7 sentences. Helpful tone. End with a genuine question inviting others to share their systems.\"\n      }\n    ]\n  },\n\n  awardtravel: {\n    displayName: \"r/awardtravel\",\n    size: \"500k\",\n    promotion: \"INDIRECT\",\n    voice: \"Analytical, redemption-focused, prose-heavy. Uses specific dollar amounts and cents-per-point math. Churner-adjacent — comfortable with jargon but the conversation is about spending points, not acquiring cards.\",\n    rules: [\n      \"Never name Fenrir or link fenrirledger.com cold.\",\n      \"May say 'I built a tracker for this' — once per post.\",\n      \"May offer 'happy to share what I use if anyone wants' as a soft follow-up only.\",\n      \"No standalone promotional posts about the tool itself — the post is about the topic, with a soft tracker mention.\",\n      \"No repeating the soft mention across multiple posts in the same week.\",\n      \"New accounts with links get flagged — build karma in redemption threads first.\"\n    ],\n    jargon: [\"MR\", \"UR\", \"TYP\", \"CPP\", \"AF\", \"CSR\", \"Plat\", \"NUA\", \"SUB\", \"PC\", \"OBC\", \"saver space\", \"transfer partner\", \"award chart\"],\n    topicHooks: [\n      \"Is the Amex Plat or CSR still worth it in 2026? — AF renewal is the dominant angle.\",\n      \"Managing multiple premium card fees — portfolio-management angle.\",\n      \"Downgrading CSR to CF — worth it? — PC timing, AF date tracking.\",\n      \"Retention call timing — call 60 days before the fee posts, not before the statement closes.\"\n    ],\n    pitfall: \"Don't stray into trip reports, award search strategy, or transfer partner math — those are off-topic for AF/tracking-themed posts.\",\n    lengthStyle: \"4-8 sentences. Prose only, no bullets. Personal, opinionated: 'I manage 8 premium cards and what I found was...' Express real opinions on travel value.\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"Is the Amex Plat still worth the AF in 2026?\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/awardtravel asking whether the Amex Platinum is still worth the $695 annual fee in 2026. Angle: start with a genuine cost-benefit take — worth it if you use specific credits, but the math is tight. Key insight: the benefits have different calendars (hotel credit, Uber Cash, airline fee credit) that don't sync with the AF date. Miss one quarter of Uber Cash and the math flips. Mention you built a small tracker to stay on top of this, offer to share if anyone wants. Do NOT name Fenrir. Use r/awardtravel jargon naturally: MR, AF, Plat, credits, OBC. First person, analytical but conversational. Prose style, no bullet lists — this sub writes in prose. 5-8 sentences. No marketing tone. End inviting others' takes.\"\n      },\n      {\n        id: 2,\n        title: \"How do you manage a portfolio of premium travel cards?\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/awardtravel asking how the community manages a portfolio of 4-6 premium travel cards — keeping track of annual fees, benefit credits, and renewal decisions without losing money. Angle: you manage a large premium card portfolio and have a specific system. Key insight: the difference between the annual fee date (when the fee posts and the retention call window opens) and the statement close date — people who track only the statement date can miss the AF renewal window. Benefit credits have their own independent reset schedules. You built something to handle this and offer to share it, but the offer is low-key and comes after the real advice. Name at least one real card (Amex Plat, CSR) to make it feel personal. Use jargon: AF, MR, UR, CSR, Plat, PC, OBC. Tracker mention is a single soft line near the end. Do NOT name Fenrir. First person, prose, 5-7 sentences. End inviting others' systems.\"\n      },\n      {\n        id: 3,\n        title: \"CSR downgrade timing: what actually worked for me\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/awardtravel sharing your framework for deciding whether and when to downgrade a Chase Sapphire Reserve to a Chase Freedom. Angle: you have done this math before. The question isn't just 'is the CSR worth $550/year' but 'is the CSR worth $550/year THIS YEAR given my actual travel plans.' Annual value fluctuates. Timing dimension: you need to call to product-change before the annual fee posts, not after, because Chase often won't reverse a fee that's already posted. You have a tracker that reminds you of these windows; offer to share but keep brief. Reference the UR preservation angle (downgrading to CF preserves UR balance while avoiding the AF). Use jargon: CSR, CF, PC, UR, AF, SUB. Tracker mention is one sentence at the end. Do NOT name Fenrir. First person, prose, 5-7 sentences. Practical, experience-based, slightly opinionated.\"\n      }\n    ]\n  },\n\n  ynab: {\n    displayName: \"r/ynab\",\n    size: \"300k\",\n    promotion: \"INDIRECT\",\n    approvalRequired: true,\n    voice: \"Warm, supportive, YNAB-methodology-first. First person, deeply engaged with the YNAB approach. Sounds like a long-time YNABer who uses YNAB as their primary budgeting method. Credit card management is incidental, not the identity.\",\n    rules: [\n      \"r/ynab is an approved-submitter community — posts may need mod approval. We have NOT built a relationship here yet. Treat this sub as strict INDIRECT.\",\n      \"Never name 'Fenrir' or link fenrirledger.com in the post body.\",\n      \"May say 'I built a small tracker for the deadline stuff' ONCE as a side remark at the end of a methodology post — never as the point of the post.\",\n      \"The primary focus of every post MUST be YNAB methodology (true expenses, credit card payment category, reconciliation, rule 1-4). Credit card tracking is a fringe mention at most.\",\n      \"Never open the post with any tracker reference.\",\n      \"Never frame the post as 'what tools do you use alongside YNAB' — that's a relationship-earned question.\",\n      \"Never engage with 'YNAB vs. competitors' topics.\"\n    ],\n    jargon: [\"true expense\", \"give every dollar a job\", \"credit card payment category\", \"budget buffer\", \"float\", \"reconcile\", \"category\", \"age of money\", \"rule 1-4\", \"fill the buckets\", \"WAM\"],\n    topicHooks: [\n      \"YNAB credit card payment category confusion — pure methodology\",\n      \"Using true expenses for annual fees — methodology with fringe tracker mention allowed\",\n      \"Rule 2 applied to yearly card fees — pure methodology\",\n      \"How I reconcile credit cards across multiple categories — pure methodology\"\n    ],\n    pitfall: \"Leading with credit card tracking or having the post be fundamentally about tracking rather than YNAB methodology. Any post without genuine YNAB methodology content reads as drive-by promotion.\",\n    lengthStyle: \"Medium length (5-8 sentences). Warm tone. YNAB methodology is the spine of every post. Credit cards and trackers are side references at most. Use YNABer language throughout.\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"YNAB credit card payment category — what finally clicked for me\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/ynab about the YNAB credit card payment category. This is a PURE METHODOLOGY post — NO product mention, NO tracker reference, NO Fenrir, NO fenrirledger.com. Angle: the credit card payment category confuses a lot of new YNAB users. Explain what clicked for you: the payment category holds the money you've already budgeted from the underlying spending categories (groceries, restaurants, etc.) — it's not a separate 'credit card budget', it's the bucket where funds gather until you pay the statement. When you spend on the card, YNAB moves money from the spending category into the payment category. When you pay the card, money leaves the payment category to the bank. The payment category balance should always match your actual card balance if you're reconciling correctly. Share a brief aha-moment that helped you understand this. Use YNAB jargon: credit card payment category, reconcile, category, rule 1-4, give every dollar a job. First person, 5-8 sentences, warm supportive tone. End with an open question inviting others to share what finally clicked for them. This is Freya's first post in r/ynab — it must be pure methodology with ZERO product mention. The community hasn't seen her yet.\"\n      },\n      {\n        id: 2,\n        title: \"Using true expenses for annual fees — my approach\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/ynab about using YNAB's true expense concept to budget for credit card annual fees. Angle: an annual fee is a textbook true expense — a known, infrequent cost you set aside money for monthly ($AF/12 per month in a dedicated category). This is Rule 2: embrace your true expenses. Walk through how you set up the category, how much you put in each month, and how it removes the surprise when the fee posts. Keep the credit card angle INCIDENTAL — the point is applying YNAB methodology to a specific category of true expense, not championing credit cards. Toward the very end, as a side remark, you MAY mention that the YNAB side handles the money but you use a small separate reminder thing for the actual fee date so you can decide whether to keep or downgrade before the fee posts. One sentence only, as a side remark. Do NOT name Fenrir. Do NOT link fenrirledger.com. Use YNAB jargon: true expense, category, rule 2, fill the buckets. First person, 5-8 sentences, warm tone. End inviting others to share how they handle annual fees as true expenses.\"\n      },\n      {\n        id: 3,\n        title: \"How I reconcile credit cards across multiple categories\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/ynab about the reconciliation workflow when you use credit cards for spending across many different YNAB categories. This is a PURE METHODOLOGY post — NO product mention, NO tracker reference, NO Fenrir, NO fenrirledger.com. Angle: reconciling credit card activity can feel overwhelming when one statement has 40+ transactions hitting 15 different categories. Share your workflow: reconcile weekly rather than monthly, use YNAB's 'reconciled' flag aggressively, verify the credit card payment category balance matches the card statement balance at each reconcile, and trust the process when something feels off (there's always a missed category assignment somewhere). Use YNAB jargon: reconcile, credit card payment category, category, float, give every dollar a job. First person, 5-8 sentences, warm tone. End with an open question asking what others do to make credit card reconciliation less painful. This is relationship-building content — ZERO product mention, ZERO tracker reference.\"\n      }\n    ]\n  },\n\n  delta: {\n    displayName: \"r/delta\",\n    size: \"150k\",\n    promotion: \"INDIRECT\",\n    voice: \"Plain language, help-focused, relatable. Many members are primarily Delta flyers who happened to get a Delta card, not churners — so churning jargon needs context on first use. Empathetic to Delta program change frustration.\",\n    rules: [\n      \"Never name Fenrir or link fenrirledger.com in the body of the post.\",\n      \"May say 'I built a tracker' or 'I put something together' — once per post.\",\n      \"May offer 'happy to share if anyone wants' as a soft follow-up only.\",\n      \"No affiliate or referral links (absolute ban).\",\n      \"No cold link drops.\",\n      \"No repeating the soft mention across multiple posts in the same week.\"\n    ],\n    jargon: [\"Reserve\", \"Platinum\", \"Gold\", \"companion cert\", \"companion certificate\", \"MQD\", \"MQM\", \"Medallion\", \"Silver\", \"Gold Medallion\", \"Platinum Medallion\", \"Diamond\", \"Sky Club\", \"AF\", \"TakeOff 15\", \"anniversary date\"],\n    topicHooks: [\n      \"Is the Delta Reserve worth $650 in 2026? — highest-frequency theme. Lead with cert + lounge + MQD math.\",\n      \"PSA: companion cert expiring? Here's the rescue move.\",\n      \"How to track companion cert + AF + MQD across multiple Delta cards.\"\n    ],\n    pitfall: \"Don't write about Delta flight operations, delays, cancellations, or SkyMiles devaluations — those are emotional venting topics and a tracker post would feel tone-deaf.\",\n    lengthStyle: \"4-8 sentences. Plain language, light bullet lists are accepted. First person, specific numbers.\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"Is the Delta Reserve worth $650 in 2026? My math\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/delta sharing your analysis of whether the Delta SkyMiles Reserve Amex is worth the $650 annual fee in 2026. Angle: the Reserve's value hinges almost entirely on the companion certificate — if you fly Delta at least once a year domestically, the companion cert alone can offset the $650 fee at most fare levels. Secondary value: Delta Sky Club lounge access (valuable for Delta hub flyers) and the MQD boost toward Medallion status. Key tracking insight: the companion cert drops on the card anniversary date and must be used within 12 months; missing it means forfeiting the single biggest benefit. Lead with the companion cert value. Include concrete framing: 'if you book a $300+ round trip, the cert alone offsets the fee.' Mention cert expiration risk. Briefly mention Sky Club and MQD boost. Mention you track your cert date and AF renewal with something you built. Tracker mention is ONE sentence. Do NOT name Fenrir. Spell out 'companion certificate' on first use, 'cert' after; 'annual fee' not just 'AF'. First person, 5-8 sentences. Practical tone. Hedge: 'at most fare levels', 'depending on how often you use the lounges'. End inviting others' math.\"\n      },\n      {\n        id: 2,\n        title: \"PSA: companion cert expiring? Here's the rescue move\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone PSA-style post for r/delta about how to rescue a Delta companion certificate that's about to expire. Angle: the cert can still be used as long as the outbound flight is before the expiration date (verify current terms). Rescue move: search for availability now, book something before the expiration, cancel if plans don't work out. Most refundable Delta fares can be cancelled; even some standard fares have a 24-hour cancel window from booking. Brief personal story: 'I almost let one expire once.' Open with a PSA framing. Give the rescue move clearly. Include nuance: check whether the outbound must depart before the cert expires. Mention cancellation: 'most refundable fares can be cancelled; check the fare rules before booking.' Mention you now track cert dates proactively with something you built — ONE sentence: 'Now I track my cert expiration date well in advance so I have lead time to find something worth booking.' Do NOT name Fenrir. Use jargon: companion cert, certificate, Reserve, anniversary date. Include disclaimer: 'verify the current cert terms — Delta's policies have changed before.' 5-7 sentences.\"\n      },\n      {\n        id: 3,\n        title: \"How do you track companion cert + AF + MQD across Delta cards?\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/delta asking how the community tracks companion cert date, MQD progress toward Medallion status, and annual fee renewal — especially for people holding multiple Delta cards. Angle: explain why this is genuinely hard to track mentally: companion cert issues on the card anniversary (which may be mid-year), MQD progress is a rolling number that doesn't reset on the same date, annual fee renews on a different schedule than the cert. Holding both personal and business Delta Amex doubles the complexity. Mention you built a simple tracker to untangle these timelines. Explain the three-timeline problem (cert, MQD, AF). Mention multi-card complexity. Tracker mention is more direct here since the post is explicitly about tracking: 'I built a small tracker that handles each card separately — cert date, expiration, AF renewal, and a spot to note my MQD progress. Happy to share if anyone wants.' Do NOT name Fenrir. First person: 'I was managing three Delta cards at one point and...'. 5-7 sentences. Practical, slightly wry tone. Hedge: 'MQD tracking is best done in the Delta app itself — my tracker just flags when I should check in on progress.' End inviting others' systems.\"\n      }\n    ]\n  },\n\n  marriottbonvoy: {\n    displayName: \"r/marriottbonvoy\",\n    size: \"90k\",\n    promotion: \"INDIRECT\",\n    voice: \"Warm, practical, help-focused. Less technical than more-hardcore churning subs but card-savvy. Hotel loyalists and Bonvoy card stackers. First person, specific about card names and dollar amounts. Comfortable with light bullet lists.\",\n    rules: [\n      \"Never name Fenrir or link fenrirledger.com in the body of the post.\",\n      \"May say 'I use a small tracker I put together' — once per post.\",\n      \"May offer 'happy to share the link if anyone wants' as a soft follow-up.\",\n      \"No referral links outside the weekly referral thread (absolute ban).\",\n      \"No cold link drops.\",\n      \"No repeating the soft mention across multiple posts in the same week.\"\n    ],\n    jargon: [\"Brilliant\", \"Boundless\", \"Bold\", \"FNA\", \"FNC\", \"free night cert\", \"dining credit\", \"elite nights\", \"15 elite nights\", \"Platinum\", \"Titanium\", \"Ambassador\", \"AF\", \"card anniversary\", \"PP\"],\n    topicHooks: [\n      \"Is the Bonvoy Brilliant worth $650 in 2026? — recurring theme.\",\n      \"PSA: free night cert expiring? Here's the refundable booking rescue.\",\n      \"Calendar year vs. card year: how I track the Brilliant's three clocks.\",\n      \"Chase Bonvoy vs. Amex Bonvoy: tracking both cards at once.\"\n    ],\n    pitfall: \"Don't stray into hotel complaints, room upgrade disputes, service failures, or pure Marriott points redemption topics — those have no card-management angle.\",\n    lengthStyle: \"4-8 sentences. Warm, conversational. Light bullet lists accepted. Hedge appropriately: 'in my experience', 'YMMV on properties', 'check current terms'. First person, specific to the exact card.\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"Is the Bonvoy Brilliant worth $650 in 2026? Full math\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/marriottbonvoy sharing your math on whether the Marriott Bonvoy Brilliant American Express is worth the $650 annual fee in 2026. Angle: walk through the three primary value drivers — the $300 Marriott dining credit (calendar-year reset, Jan 1), the annual free night cert (~85k points, issued on card anniversary, valid ~12 months), and the 25 elite night credit. Key nuance: the dining credit resets on calendar year, not card anniversary — this trips people up constantly. Anyone with a mid-year card anniversary effectively gets two dining credits in quick succession after opening. Mention you track these timelines in a simple tracker. Lead with the benefit-by-benefit breakdown. Include the calendar-year vs. card-anniversary nuance for the dining credit. Mention cert expiration window (~12 months). Tracker mention is ONE sentence: 'I track the dining credit reset and cert dates in a simple tracker I put together — happy to share if anyone wants.' Do NOT name Fenrir. Use jargon: Brilliant, dining credit, FNA or free night cert, elite nights, AF. First person, 5-8 sentences. Methodical tone. Hedge: 'last I checked', 'verify the current cert cap', 'in my experience'. End inviting others' math.\"\n      },\n      {\n        id: 2,\n        title: \"PSA: free night cert expiring? Here's the rescue\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone PSA-style post for r/marriottbonvoy about how to rescue a Marriott Bonvoy free night certificate (FNA) that's about to expire. Angle: the standard rescue move — book a refundable Marriott stay using the cert before it expires, then cancel if nothing materializes. Most standard Marriott rates are cancellable until 11:59pm the day before arrival (but verify before booking). You once nearly lost a cert and now track cert issue dates vs. expiration dates proactively so you always have lead time to plan a real trip. Give the rescue move. Include caveat: verify cancellation policy before booking. Mention the cert typically needs to be applied at time of booking, not retroactively. Brief personal story. Tracker mention is ONE sentence: 'Now I track my cert issue and expiration dates in a small tracker so I catch it weeks out instead of days.' Do NOT name Fenrir. Use jargon: FNA, cert, Marriott, property, anniversary date. 5-7 sentences. PSA framing, practical middle, brief personal lesson at the end.\"\n      },\n      {\n        id: 3,\n        title: \"How I track both Chase and Amex Bonvoy certs + AFs\",\n        type: \"standalone-post\",\n        prompt: \"Write an original standalone post for r/marriottbonvoy about managing both a Chase Bonvoy Boundless and an Amex Bonvoy Brilliant at the same time. Angle: validate that this is legitimately confusing — Chase and Amex issue their certs on different anniversary dates, the certs have different max point caps (Boundless cert ~35k points; Brilliant cert ~85k), and the AFs post on different schedules. You built a simple tracker specifically because you were in this situation. Validate the confusion is legitimate, not user error. Explain the key distinction: Boundless cert vs. Brilliant cert value. Mention that the Brilliant's dining credit (calendar-year reset) adds a third timeline that doesn't sync with either card anniversary. Tracker mention is more prominent here: 'I built a small tracker that handles both cards separately — it covers each card's AF date, cert issue date, cert expiration, and the Brilliant's dining credit reset. Happy to share if anyone wants.' Do NOT name Fenrir. First person: 'I was juggling both and...'. 5-7 sentences. Empathetic and practical tone. Hedge: 'last I checked on the cert caps — verify current terms'. End inviting others' approaches.\"\n      }\n    ]\n  }\n};\n\n// ---------- Lookup logic ----------\n\nconst input = $input.first().json;\nconst subKey = input.subKey;\nconst promptNumber = input.promptNumber;\nconst trigger = input.trigger;\n\nconst profile = SUBREDDIT_PROFILES[subKey];\nif (!profile) {\n  throw new Error(\"No profile for sub: \" + subKey + \". Add it to SUBREDDIT_PROFILES.\");\n}\nif (profile.promotion === \"DIRECT\") {\n  throw new Error(\"DIRECT promotion is not allowed — should never be set.\");\n}\n\nconst promptEntry = profile.prompts.find(function (p) { return p.id === promptNumber; });\nif (!promptEntry) {\n  throw new Error(\"No prompt #\" + promptNumber + \" for \" + subKey + \".\");\n}\n\nreturn [{\n  json: {\n    subKey: subKey,\n    displayName: profile.displayName,\n    size: profile.size,\n    promotion: profile.promotion,\n    voice: profile.voice,\n    rules: profile.rules,\n    jargon: profile.jargon,\n    topicHooks: profile.topicHooks,\n    pitfall: profile.pitfall,\n    lengthStyle: profile.lengthStyle,\n    positioningFraming: profile.positioningFraming || null,\n    promptId: promptEntry.id,\n    promptTitle: promptEntry.title,\n    promptType: promptEntry.type,\n    promptText: promptEntry.prompt,\n    trigger: trigger\n  }\n}];\n"
      },
      "id": "00000005-0000-4000-8000-000000000005",
      "name": "Profile + Prompt Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 320],
      "notes": "Embedded SUBREDDIT_PROFILES for the 5 launch subs. All 15 prompts generate ORIGINAL STANDALONE POSTS, not comment replies. Every output MUST include a descriptive title. Source of truth: product/research/reddit/<sub>/profile-reduced.md (for voice/rules/jargon/hooks). The prompt text below is inline and the canonical source for the workflow."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.promptText }}"
            }
          ]
        },
        "options": {
          "maxTokens": 600,
          "system": "=You are Freya, posting on Reddit as u/Wide-Pass369. You are a 34-year-old churner in Denver, 3 years into the hobby, currently managing 12 active cards. You are NOT a marketer. You share real experience, numbers, and honest opinions.\n\nYOU ARE WRITING AN ORIGINAL STANDALONE REDDIT POST. Not a comment. Not a reply. An original post that starts a new thread. It MUST have a title, and the title MUST be descriptive enough to stand on its own as a post headline.\n\nSubreddit: {{ $json.displayName }} ({{ $json.size }} subscribers)\nPromotion level: {{ $json.promotion }}\n\nVoice: {{ $json.voice }}\n\nNative jargon (use naturally): {{ $json.jargon.join(\", \") }}\n\nLength + style: {{ $json.lengthStyle }}\n\nPitfall to avoid: {{ $json.pitfall }}\n\nPROMOTION RULES (UNBREAKABLE):\n- If promotion is AVOID: zero product mention. No 'I built', no tool name, no link. Pure value only.\n- If promotion is INDIRECT: you MAY say 'I built a small tracker for this' ONCE per post without naming Fenrir and without any link. Follow with 'happy to share if anyone wants' as a soft offer. Never name Fenrir. Never link fenrirledger.com.\n- If promotion is NAMED_COMPLEMENTARY: you MAY name 'Fenrir Ledger' and include the link 'fenrirledger.com' ONCE, but only in the final third of the post, AND only after establishing the complementary positioning. For r/ynab specifically, use this framing: {{ $json.positioningFraming }}\n- DIRECT is NOT AN OPTION — if you see promotion=DIRECT, refuse and return the literal string 'ERROR: DIRECT promotion is disabled'.\n\nHard rules specific to this sub:\n{{ $json.rules.map((r, i) => (i + 1) + '. ' + r).join('\\n') }}\n\nANTI-DETECTION (UNBREAKABLE):\nBanned words: delve, utilize, moreover, furthermore, additionally, crucial, pivotal, navigate (as a verb for abstract things), landscape (for abstract topics), in the realm of, it is worth noting, tapestry, testament, paramount, seamlessly, powerful, game-changer.\nWrite short paragraphs. First person. Conversational. No bullet lists unless the sub's style guidance above explicitly allows them. NEVER use em-dashes (use commas or periods instead).\n\nOUTPUT FORMAT (UNBREAKABLE):\nReturn exactly two blocks, nothing else. The TITLE is MANDATORY. The TITLE must be a complete, descriptive Reddit post headline — max 300 characters, never empty, never placeholder, never '(reply — no title)' or similar.\n\nTITLE: <concise descriptive Reddit post title>\nBODY: <the full post body, 4-8 paragraphs, ending with an open question inviting community discussion>\n\nDo not add any preamble, explanation, or markdown code fences. Do not repeat the title inside the body."
        }
      },
      "id": "00000006-0000-4000-8000-000000000006",
      "name": "Claude — Compose Post",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [912, 320],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-fenrir",
          "name": "Anthropic (Fenrir)"
        }
      },
      "notes": "Composes an ORIGINAL STANDALONE POST (not a reply) based on the sub profile and prompt. System prompt requires a mandatory title for every output and enforces 3 promotion levels. Uses claude-sonnet-4-20250514 with 600 max tokens (slightly higher than comment max to give room for title + body)."
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response and build the Gmail draft payload.\n// Handles 3 possible response shapes from the n8n Anthropic node.\n// Enforces: title is mandatory + post-hoc compliance (no Fenrir in INDIRECT/AVOID subs).\n\nconst input = $input.first().json;\n\nconst claudeText =\n  (input && input.content && input.content[0] && input.content[0].text) ||\n  input.text ||\n  (input.message && input.message.content) ||\n  \"\";\n\nif (!claudeText) {\n  throw new Error(\"Claude returned no text. Raw response keys: \" + Object.keys(input).join(\", \"));\n}\n\nconst titleMatch = claudeText.match(/TITLE:\\s*(.+?)\\s*\\nBODY:/s);\nconst bodyMatch = claudeText.match(/BODY:\\s*([\\s\\S]+)$/);\n\nif (!titleMatch || !bodyMatch) {\n  throw new Error(\"Claude output did not match TITLE:/BODY: format. Raw text:\\n\" + claudeText);\n}\n\nconst title = titleMatch[1].trim();\nconst body = bodyMatch[1].trim();\n\n// Title is MANDATORY and must not be a placeholder.\nif (!title || title.length < 3) {\n  throw new Error(\"Claude returned an empty or too-short title. Raw text:\\n\" + claudeText);\n}\nconst placeholderPatterns = /^\\(?(reply|no title|tbd|placeholder|none)/i;\nif (placeholderPatterns.test(title)) {\n  throw new Error(\"Claude returned a placeholder title: '\" + title + \"'. A real descriptive title is required.\");\n}\nif (title.length > 300) {\n  throw new Error(\"Claude title is too long (\" + title.length + \" chars, Reddit limit is 300). Title: \" + title);\n}\n\nif (body.startsWith(\"ERROR:\")) {\n  throw new Error(\"Claude refused: \" + body);\n}\n\n// Get context from Node 5 by name reference\nconst ctx = $(\"Profile + Prompt Lookup\").first().json;\n\nconst encodedTitle = encodeURIComponent(title);\nconst submitLink = \"https://www.reddit.com/r/\" + ctx.subKey + \"/submit?title=\" + encodedTitle + \"&selftext=true\";\n\n// Post-hoc compliance check: INDIRECT/AVOID subs must not contain Fenrir or fenrirledger.com.\nif (ctx.promotion === \"INDIRECT\" || ctx.promotion === \"AVOID\") {\n  const lower = body.toLowerCase();\n  if (lower.indexOf(\"fenrir\") !== -1 || lower.indexOf(\"fenrirledger.com\") !== -1) {\n    throw new Error(\n      \"Claude named Fenrir in a \" + ctx.promotion + \" sub (\" + ctx.subKey + \") — this is a hard rule violation. Aborting draft creation. Body:\\n\" + body\n    );\n  }\n}\n\nreturn [{\n  json: {\n    subKey: ctx.subKey,\n    displayName: ctx.displayName,\n    promotion: ctx.promotion,\n    promptId: ctx.promptId,\n    promptTitle: ctx.promptTitle,\n    promptType: ctx.promptType,\n    title: title,\n    body: body,\n    submitLink: submitLink,\n    trigger: ctx.trigger\n  }\n}];\n"
      },
      "id": "00000007-0000-4000-8000-000000000007",
      "name": "Format Draft Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1136, 320],
      "notes": "Parses Claude's TITLE/BODY output, validates that the title is present and not a placeholder, builds the Reddit submit link, and runs a post-hoc compliance check that throws before Gmail draft creation if an INDIRECT or AVOID sub's output contains 'Fenrir' or 'fenrirledger.com'. NAMED_COMPLEMENTARY (only r/ynab) is exempt from the Fenrir check."
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Reddit Post Draft: {{ $json.displayName }} — {{ $json.title }}",
        "emailType": "html",
        "message": "=<h2>Reddit Post Draft — {{ $json.displayName }}</h2>\n\n<div style=\"background:#fff4d6;border:2px solid #c9920a;padding:16px;margin:12px 0;border-radius:6px;text-align:center;\">\n  <p style=\"margin:0 0 8px 0;font-size:16px;\"><strong>👉 <a href=\"{{ $json.submitLink }}\" style=\"color:#7a5a00;text-decoration:underline;\">Click here to post to {{ $json.displayName }}</a></strong></p>\n  <p style=\"margin:0;font-size:12px;color:#666;\">The title is pre-filled. Paste the body below into the post, review, then submit as u/Wide-Pass369.</p>\n</div>\n\n<p>\n  <strong>Subreddit:</strong> {{ $json.displayName }}<br/>\n  <strong>Promotion level:</strong> {{ $json.promotion }}<br/>\n  <strong>Prompt:</strong> #{{ $json.promptId }} — {{ $json.promptTitle }}<br/>\n  <strong>Trigger mode:</strong> {{ $json.trigger }}\n</p>\n\n<hr/>\n\n<h3>Post Title</h3>\n<p style=\"font-size:18px;font-weight:bold;background:#f0f0f0;padding:10px;border-left:3px solid #c9920a;\">{{ $json.title }}</p>\n\n<h3>Post Body</h3>\n<div style=\"background:#f5f5f5;padding:12px;border-left:3px solid #c9920a;white-space:pre-wrap;font-family:Georgia,serif;\">{{ $json.body }}</div>\n\n<hr/>\n\n<p style=\"font-size:11px;color:#888;\">\n  Delete this draft when done.<br/>\n  Generated by the Reddit Post Composer n8n workflow.\n</p>",
        "options": {}
      },
      "id": "00000008-0000-4000-8000-000000000008",
      "name": "Gmail — Create Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1360, 320],
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Creates a Gmail draft with the Reddit submit link at the TOP (gold callout box), then metadata, then title and body. The submit link has the title pre-filled via query string. Odin clicks the link, pastes the body, and submits."
    }
  ],
  "connections": {
    "Trigger — Random": {
      "main": [
        [
          {
            "node": "Pick Random Sub + Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger — Chosen": {
      "main": [
        [
          {
            "node": "Use Chosen Sub + Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random Sub + Prompt": {
      "main": [
        [
          {
            "node": "Profile + Prompt Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Chosen Sub + Prompt": {
      "main": [
        [
          {
            "node": "Profile + Prompt Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile + Prompt Lookup": {
      "main": [
        [
          {
            "node": "Claude — Compose Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Compose Post": {
      "main": [
        [
          {
            "node": "Format Draft Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Draft Email": {
      "main": [
        [
          {
            "node": "Gmail — Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": []
}
