infrastructure/n8n/workflows/reddit-post-composer.json
{
  "name": "Reddit Post Composer",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "00000001-0000-4000-8000-000000000001",
      "name": "Trigger — Random",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 200],
      "notes": "Random mode: picks a random sub from the launch set and a random prompt (1-3). Use this when you just want Claude to generate something for any sub to review."
    },
    {
      "parameters": {},
      "id": "00000002-0000-4000-8000-000000000002",
      "name": "Trigger — Chosen",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 440],
      "notes": "Chosen mode: operator edits the Use Chosen node below to pick a specific sub + prompt number. Use this when you want a draft for a specific sub and prompt."
    },
    {
      "parameters": {
        "jsCode": "// Fixed launch set — only these 5 subs. Not read from PREFERRED_SUBREDDITS env var\n// because PREFERRED has 17 subs but we only compose for the 5 launch subs.\nconst LAUNCH_SUBS = [\"amex\", \"awardtravel\", \"ynab\", \"delta\", \"marriottbonvoy\"];\n\n// Defensive check against IGNORED_SUBREDDITS env var.\nconst ignoredRaw = $env.IGNORED_SUBREDDITS || \"\";\nconst ignored = new Set(\n  ignoredRaw.split(\",\").map(function (s) { return s.trim().replace(/^r\\//i, \"\").toLowerCase(); }).filter(Boolean)\n);\n\nconst candidates = LAUNCH_SUBS.filter(function (s) { return !ignored.has(s); });\nif (candidates.length === 0) {\n  throw new Error(\"All 5 launch subs are in IGNORED_SUBREDDITS — nothing to compose.\");\n}\n\nconst subKey = candidates[Math.floor(Math.random() * candidates.length)];\nconst promptNumber = 1 + Math.floor(Math.random() * 3); // 1..3\n\nreturn [{ json: { subKey: subKey, promptNumber: promptNumber, trigger: \"random\" } }];\n"
      },
      "id": "00000003-0000-4000-8000-000000000003",
      "name": "Pick Random Sub + Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 200],
      "notes": "Picks a random sub from the hardcoded launch set and a random prompt (1-3). Defensively skips any launch sub present in $env.IGNORED_SUBREDDITS."
    },
    {
      "parameters": {
        "jsCode": "// EDIT THESE BEFORE RUNNING THE CHOSEN TRIGGER:\nconst targetSubreddit = \"amex\";   // one of: amex, awardtravel, ynab, delta, marriottbonvoy\nconst promptNumber = 1;            // 1, 2, or 3\n\nconst LAUNCH_SUBS = [\"amex\", \"awardtravel\", \"ynab\", \"delta\", \"marriottbonvoy\"];\nconst subKey = targetSubreddit.trim().replace(/^r\\//i, \"\").toLowerCase();\n\nif (LAUNCH_SUBS.indexOf(subKey) === -1) {\n  throw new Error(\"targetSubreddit must be one of \" + LAUNCH_SUBS.join(\", \") + \" — got '\" + subKey + \"'\");\n}\nif (!Number.isInteger(promptNumber) || promptNumber < 1 || promptNumber > 3) {\n  throw new Error(\"promptNumber must be 1, 2, or 3 — got \" + promptNumber);\n}\n\n// Defensive ignore check.\nconst ignoredRaw = $env.IGNORED_SUBREDDITS || \"\";\nconst ignored = new Set(\n  ignoredRaw.split(\",\").map(function (s) { return s.trim().replace(/^r\\//i, \"\").toLowerCase(); }).filter(Boolean)\n);\nif (ignored.has(subKey)) {\n  throw new Error(\"Refusing to compose for \" + subKey + \" — it is in IGNORED_SUBREDDITS.\");\n}\n\nreturn [{ json: { subKey: subKey, promptNumber: promptNumber, trigger: \"chosen\" } }];\n"
      },
      "id": "00000004-0000-4000-8000-000000000004",
      "name": "Use Chosen Sub + Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 440],
      "notes": "Operator edits the first two consts before running the Chosen trigger. Validates the sub is in the launch set and not in IGNORED_SUBREDDITS."
    },
    {
      "parameters": {
        "jsCode": "// SUBREDDIT_PROFILES — embedded profile data for the 5 launch subs.\n// Source of truth for humans: product/research/reddit/<sub>/profile-reduced.md\n// When those files change, this lookup must be updated manually to match.\n// See #2134 and product/research/reddit/reddit-post-composer.md for the full design.\n\nconst SUBREDDIT_PROFILES = {\n  amex: {\n    displayName: \"r/amex\",\n    size: \"527k\",\n    promotion: \"INDIRECT\",\n    voice: \"Knowledgeable Amex cardholder. Specific about benefit credits and reset calendars. First person, prose-heavy. Comfortable naming cards by shorthand (Plat, Gold, Biz Plat).\",\n    rules: [\n      \"Never name Fenrir or link fenrirledger.com in the body of the comment.\",\n      \"May say 'I built a small tracker' or 'I use something I made for this' — once per thread max.\",\n      \"May offer 'happy to share what I use if you want' as a soft follow-up.\",\n      \"No cold link drops. No marketing-speak.\",\n      \"No standalone promotional posts. No repeating the soft mention across multiple threads in the same week.\"\n    ],\n    jargon: [\"MR\", \"AF\", \"Gold\", \"Plat\", \"Biz Plat\", \"BCE\", \"BCP\", \"NLL\", \"popup jail\", \"2/90\", \"PC\", \"Uber Cash\", \"airline fee credit\", \"CLEAR\", \"Equinox\", \"SUB\", \"Amex Offers\"],\n    topicHooks: [\n      \"Is the Amex Plat worth $695? — lead with a credit-by-credit breakdown, then mention tracking.\",\n      \"How do you track your benefit credits? — most direct opening; describe the reset-calendar pain.\",\n      \"Thinking about downgrading Gold to Green — PC timing, AF date vs. statement date distinction.\",\n      \"How do I keep the Plat benefits straight? — Uber Cash (monthly), airline credit (Jan reset), hotel credit (card year) — three different clocks.\"\n    ],\n    pitfall: \"Mentioning a tracker in Amex Offers, award redemption, popup jail, or application strategy threads — those are off-topic for AF/benefit tracking and the mention feels forced.\",\n    lengthStyle: \"4-8 sentences for AF decision threads. 2-4 sentences for quick replies. Prose, not bullets. Personal perspective: 'I have the Plat and...'\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"Is the Plat worth $695?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/amex in response to a thread asking whether the Amex Platinum is worth its $695 annual fee. Angle: do the math on the Plat's value, but the key insight is that the credits don't all reset on the same schedule. If you don't actively track them, you leave money on the table and the AF math breaks. List a few specific credits and their reset schedules: airline fee credit resets in January, Uber Cash is monthly, hotel credit on card anniversary. Mention you built something small to track all of this and offer to share it. Do NOT name Fenrir or link fenrirledger.com. Use r/amex jargon naturally: Plat, MR, AF, Uber Cash, airline fee credit, CLEAR, hotel credit. Tracker mention is one sentence only, near the end, followed by a soft offer. First person, prose style, 5-8 sentences. Practical, number-oriented tone — someone who has held the Plat for multiple years.\"\n      },\n      {\n        id: 2,\n        title: \"Gold AF decision thread\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/amex in response to a thread where someone is asking whether to keep, downgrade, or cancel their Amex Gold when the $325 annual fee comes up. Angle: (1) the Gold's value depends almost entirely on the dining and Uber Cash credits — if you're using them monthly, it pencils out; if you're not, cancel or PC. (2) The PC path Gold to Green preserves account age while dropping the AF from $325 to $150. (3) Timing matters: you need to call to downgrade before the fee posts, not before the payment due date — these are different days. Name specific credits ($10/month dining at Grubhub/participating restaurants, $10/month Uber Cash). Mention you track AF posting dates with something you built — one sentence only, keep brief, don't name Fenrir. Use r/amex jargon: Gold, Green, PC, MR, AF, Uber Cash. First person, prose style, 5-7 sentences. Direct, practical tone — someone who has made this call before and has a clear framework.\"\n      },\n      {\n        id: 3,\n        title: \"How do you track benefit credits?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/amex in response to a thread where someone is asking how other members keep track of which Amex benefit credits they've used and when each one resets. Angle: you hold multiple Amex cards (at least the Plat) and had the same problem — Amex's benefits page shows availability but doesn't give a clear view of what you've used and what's expiring soon. Name at least 3 specific credits and their reset schedules: airline fee credit (January), Uber Cash (monthly), hotel credit (card anniversary). Explain why this matters: monthly credits you don't use are gone; understanding reset schedules is how you get full value. You ended up building a small tracker to solve this. Offer to share if anyone wants. Do NOT name Fenrir or link fenrirledger.com. Use r/amex jargon: Plat, AF, Uber Cash, airline credit, CLEAR, MR. First person, prose style, 5-7 sentences. Helpful, practical tone.\"\n      }\n    ]\n  },\n\n  awardtravel: {\n    displayName: \"r/awardtravel\",\n    size: \"500k\",\n    promotion: \"INDIRECT\",\n    voice: \"Analytical, redemption-focused, prose-heavy. Uses specific dollar amounts and cents-per-point math. Churner-adjacent — comfortable with jargon but the conversation is about spending points, not acquiring cards.\",\n    rules: [\n      \"Never name Fenrir or link fenrirledger.com cold.\",\n      \"May say 'I built a tracker for this' — once per thread.\",\n      \"May offer 'happy to share what I use if you want' as a soft follow-up only.\",\n      \"No standalone posts about tracking tools.\",\n      \"No repeating the soft mention across multiple threads in the same week.\",\n      \"New accounts with links get flagged — build karma in redemption threads first.\"\n    ],\n    jargon: [\"MR\", \"UR\", \"TYP\", \"CPP\", \"AF\", \"CSR\", \"Plat\", \"NUA\", \"SUB\", \"PC\", \"OBC\", \"saver space\", \"transfer partner\", \"award chart\"],\n    topicHooks: [\n      \"Is the Amex Plat worth $695? or Is the CSR worth $550? — AF renewal is the dominant angle.\",\n      \"How do you manage multiple premium card fees? — portfolio-management thread, direct target.\",\n      \"Downgrading CSR to CF — worth it? — PC timing, AF date tracking relevant.\",\n      \"My retention call failed — empathy + workflow tip (call 60 days before the fee posts, not before the statement closes).\"\n    ],\n    pitfall: \"Bringing up tracking tools in trip-report, award-search, or transfer-partner threads. This sub's social currency is redemption content — tracker talk in those threads reads as forced and off-topic.\",\n    lengthStyle: \"4-8 sentences. Prose only, no bullets. Personal, opinionated: 'I manage 8 premium cards and what I found was...' Express real opinions on travel value.\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"Is the Amex Plat worth the AF?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/awardtravel in response to a thread asking whether the Amex Platinum is worth the $695 annual fee. Angle: start with a genuine cost-benefit take — worth it if you use specific credits, but the math is tight. Key insight: the benefits have different calendars (hotel credit, Uber Cash, airline fee credit) that don't sync with the AF date. Miss one quarter of Uber Cash and the math flips. Mention you built a small tracker to stay on top of this, offer to share if OP wants. Do NOT name Fenrir. Use r/awardtravel jargon naturally: MR, AF, Plat, credits, OBC. First person, analytical but conversational. Prose style, no bullet lists — this sub writes in prose. 5-8 sentences. No marketing tone.\"\n      },\n      {\n        id: 2,\n        title: \"How do you manage multiple premium cards?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/awardtravel in response to a thread where the original poster is asking how people manage a portfolio of 4-6 premium travel cards — keeping track of annual fees, benefit credits, and renewal decisions without losing money. Angle: you manage a large premium card portfolio and have a specific system. Key insight: the difference between the annual fee date (when the fee posts and the retention call window opens) and the statement close date — people who track only the statement date can miss the AF renewal window. Benefit credits have their own independent reset schedules. You built something to handle this and offer to share it, but the offer is low-key and comes after the real advice. Name at least one real card (Amex Plat, CSR) to make it feel personal. Use jargon: AF, MR, UR, CSR, Plat, PC, OBC. Tracker mention is a single soft line near the end. Do NOT name Fenrir. First person, prose, 5-7 sentences.\"\n      },\n      {\n        id: 3,\n        title: \"Downgrading CSR to CF — worth it?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/awardtravel in response to a thread where someone is debating whether to downgrade their Chase Sapphire Reserve to a Chase Freedom (no annual fee) or Freedom Flex. Angle: you have done this math before. The question isn't just 'is the CSR worth $550/year' but 'is the CSR worth $550/year THIS YEAR given my actual travel plans.' Annual value fluctuates. Timing dimension: you need to call to product-change before the annual fee posts, not after, because Chase often won't reverse a fee that's already posted. You have a tracker that reminds you of these windows; offer to share but keep brief. Reference the UR preservation angle (downgrading to CF preserves UR balance while avoiding the AF). Use jargon: CSR, CF, PC, UR, AF, SUB. Tracker mention is one sentence at the end. Do NOT name Fenrir. First person, prose, 5-7 sentences. Practical, experience-based, slightly opinionated.\"\n      }\n    ]\n  },\n\n  ynab: {\n    displayName: \"r/ynab\",\n    size: \"300k\",\n    promotion: \"NAMED_COMPLEMENTARY\",\n    voice: \"Warm, supportive, YNAB-methodology-first. First person. Comfortable naming Fenrir ONLY when positioning as complementary to YNAB — never as a competitor or alternative. Tone is slightly cult-ish in the best way.\",\n    rules: [\n      \"MAY name 'Fenrir Ledger' and link fenrirledger.com IF the thread is directly about tracking sign-up bonuses, MSR deadlines, or AF dates. This is the ONE sub where direct naming is allowed.\",\n      \"MUST position as complementary: 'YNAB for the budget, Fenrir for the sign-up bonus / AF tracking YNAB doesn't do.' Never 'better than YNAB' or 'instead of YNAB'.\",\n      \"Never open a comment with a product link. Build context first with the YNAB perspective.\",\n      \"Never post a standalone 'check out my tool' thread.\",\n      \"Never engage with 'YNAB vs. competitors' threads — off-limits for any Fenrir mention.\"\n    ],\n    jargon: [\"true expense\", \"give every dollar a job\", \"credit card payment category\", \"budget buffer\", \"float\", \"reconcile\", \"category\", \"age of money\", \"rule 1-4\"],\n    topicHooks: [\n      \"How do I handle sign-up bonuses in YNAB? — prime opener. Explain YNAB's approach first, then note what you track separately.\",\n      \"Annual fee as a true expense in YNAB — engage with the methodology, add the card decision layer.\",\n      \"What tools do you use alongside YNAB? — best direct Fenrir mention opportunity.\",\n      \"YNAB credit card category confusion — answer the YNAB question first, then note the broader card tracking angle.\"\n    ],\n    pitfall: \"Positioning Fenrir as 'what YNAB should have been' or 'a YNAB alternative.' The community will reject this outright. Also: any comment that doesn't engage with YNAB methodology at all looks like drive-by promotion.\",\n    lengthStyle: \"Medium length (5-8 sentences). Warm tone. Lead with YNAB perspective, then introduce Fenrir. Use 'YNABer' language. Reference YNAB concepts accurately (true expense, credit card payment category).\",\n    positioningFraming: \"YNAB tracks my spending. Fenrir tracks when my sign-up bonuses expire, when my annual fees are due, and whether I've hit the minimum spend. These are two different problems.\",\n    prompts: [\n      {\n        id: 1,\n        title: \"How do I track sign-up bonuses in YNAB?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/ynab in response to a thread where someone is asking how to track credit card sign-up bonuses and minimum spend requirements inside YNAB. They want to know if there's a YNAB-native way to handle this. Angle: YNAB doesn't have a native concept for sign-up bonus tracking — it handles the spending side (categories, reconciliation) but not the 'did I hit my minimum spend by the deadline?' question. Describe using Fenrir Ledger as a complementary tool for that layer while keeping YNAB for the actual budget. Framing is explicitly 'YNAB + Fenrir' — two tools for two different problems, not 'Fenrir instead of YNAB.' Acknowledge YNAB's credit card methodology first. Clearly state what YNAB doesn't do. Introduce Fenrir Ledger as the tool for that gap — complementary. Include fenrirledger.com. Mention it's free. Use YNAB language: 'true expense' or credit card category. Explicitly frame as two tools for two problems. First person, 5-7 sentences. Warm, supportive tone — match r/ynab's community feel. A YNABer who also churns sharing a setup that works for them.\"\n      },\n      {\n        id: 2,\n        title: \"Annual fee as a true expense in YNAB\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/ynab in response to a thread where someone is asking how to handle a credit card annual fee in their YNAB budget — specifically how to plan for it and whether to think of it as a 'true expense.' Angle: an annual fee is a textbook true expense — a known, infrequent cost that you should be setting aside money for monthly ($AF/12 per month in a dedicated category). Add the timing tip: budget preparation and the card-decision moment are different. The card decision should happen 60 days before the fee posts, not when you see the charge. Suggest a calendar reminder 60 days out for the decision (cancel, call for retention offer, or keep). Use YNAB terminology: true expense, category, reconcile — naturally. NO product mention, NO Fenrir, NO links — unless someone in the thread directly asks what tool you use for tracking AF dates. First person, under 175 words, warm, YNAB-native tone. Experienced YNABer sharing how they handle this in their own budget — practical, not preachy.\"\n      },\n      {\n        id: 3,\n        title: \"What tools do you use alongside YNAB?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/ynab in response to a thread where someone asks what other tools or apps community members use alongside YNAB — specifically for things YNAB doesn't cover natively. Angle: list 1-2 companion tools you use alongside YNAB. One of them is Fenrir Ledger, for credit card sign-up bonus and annual fee tracking. The framing is explicit: YNAB handles the budget; Fenrir handles the credit card rewards layer that YNAB doesn't touch. Brief, concrete, complementary positioning. Lead with a quick description of what YNAB doesn't do in this area (credit card rewards calendar, MSR deadlines, annual fee dates as actionable deadlines). Name Fenrir Ledger explicitly — include fenrirledger.com. State it's free. Frame as: 'YNAB for the budget, Fenrir for the rewards tracking.' Optional: mention one other neutral YNAB companion tool (e.g., a net worth tracker like Personal Capital / Empower) to make it feel less like a single-product drop. First person, 4-6 sentences. Warm, matter-of-fact YNAB community tone. YNAB power user sharing their setup honestly.\"\n      }\n    ]\n  },\n\n  delta: {\n    displayName: \"r/delta\",\n    size: \"150k\",\n    promotion: \"INDIRECT\",\n    voice: \"Plain language, help-focused, relatable. Many members are primarily Delta flyers who happened to get a Delta card, not churners — so churning jargon needs context on first use. Empathetic to Delta program change frustration.\",\n    rules: [\n      \"Never name Fenrir or link fenrirledger.com in the body of the comment.\",\n      \"May say 'I built a tracker' or 'I put something together' — once per thread.\",\n      \"May offer 'happy to share if you want' as a soft follow-up only.\",\n      \"No affiliate or referral links (absolute ban).\",\n      \"No standalone promotional posts. No cold link drops.\",\n      \"No repeating the soft mention across multiple threads in the same week.\"\n    ],\n    jargon: [\"Reserve\", \"Platinum\", \"Gold\", \"companion cert\", \"companion certificate\", \"MQD\", \"MQM\", \"Medallion\", \"Silver\", \"Gold Medallion\", \"Platinum Medallion\", \"Diamond\", \"Sky Club\", \"AF\", \"TakeOff 15\", \"anniversary date\"],\n    topicHooks: [\n      \"Is the Delta Reserve worth $650? — highest-frequency post type. Lead with cert + lounge + MQD math, mention tracking as secondary.\",\n      \"My companion cert is expiring — urgency-driven empathy moment. Rescue move: book refundable, cancel later.\",\n      \"When does my companion cert drop? — anniversary date confusion, factual help opportunity.\",\n      \"How do I track my MQD progress? — direct target for natural tracker mention.\",\n      \"Business Reserve vs. personal Reserve — which to keep? — multi-card, AF-comparison angle.\"\n    ],\n    pitfall: \"Mentioning tracking in Delta flight-operations, delay, cancellation, or SkyMiles-devaluation threads. Those are emotional venting threads — tracker talk reads as tone-deaf and self-promotional.\",\n    lengthStyle: \"4-8 sentences. Plain language, light bullet lists are accepted. Empathetic opener for frustration threads. First person, specific numbers.\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"Is the Delta Reserve worth the annual fee?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/delta in response to a thread where the OP is weighing whether to keep or cancel their Delta SkyMiles Reserve American Express Card before the $650 annual fee renews. Angle: the Reserve's value hinges almost entirely on the companion certificate — if you fly Delta at least once a year domestically, the companion cert alone can offset the $650 fee at most fare levels. Secondary value: Delta Sky Club lounge access (valuable for Delta hub flyers) and the MQD boost toward Medallion status. Key tracking insight: the companion cert drops on the card anniversary date and must be used within 12 months; missing it means forfeiting the single biggest benefit. Lead with the companion cert value. Include concrete framing: 'if you book a $300+ round trip, the cert alone offsets the fee.' Mention cert expiration risk. Briefly mention Sky Club and MQD boost. Tracker mention is ONE sentence at the end. Do NOT name Fenrir. Spell out 'companion certificate' on first use, 'cert' after; 'annual fee' not just 'AF'. First person, 5-8 sentences. Practical and helpful tone. Hedge: 'at most fare levels', 'depending on how often you use the lounges'.\"\n      },\n      {\n        id: 2,\n        title: \"Companion certificate expiring\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/delta in response to a thread where the OP realizes their Delta companion certificate is about to expire and they're not sure if they can still use it or what to do. Angle: the cert can still be used as long as the outbound flight is before the expiration date (verify current terms). Rescue move: search for availability now, book something before the expiration, cancel if plans don't work out. Most refundable Delta fares can be cancelled; even some standard fares have a 24-hour cancel window from booking. Personal story: 'I almost let one expire once.' Open with reassurance. Give the rescue move clearly. Include nuance: check whether the outbound must depart before the cert expires. Mention cancellation: 'most refundable fares can be cancelled; check the fare rules before booking.' Tracker mention is ONE sentence: 'Now I track my cert expiration date well in advance so I have lead time to find something worth booking.' Do NOT name Fenrir. Use jargon: companion cert, certificate, Reserve, anniversary date. Include disclaimer: 'verify the current cert terms — Delta's policies have changed before.' 5-7 sentences. Empathetic opening, practical rescue middle, personal lesson at the end.\"\n      },\n      {\n        id: 3,\n        title: \"How do you track your Delta card benefits?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/delta in response to a thread where the OP asks how other Delta cardholders track their companion cert date, MQD progress toward Medallion status, and annual fee renewal — especially those holding multiple Delta cards. Angle: explain why this is genuinely hard to track mentally: companion cert issues on the card anniversary (which may be mid-year), MQD progress is a rolling number that doesn't reset on the same date, annual fee renews on a different schedule than the cert. Holding both personal and business Delta Amex doubles the complexity. Mention you built a simple tracker to untangle these timelines. Explain the three-timeline problem (cert, MQD, AF). Mention multi-card complexity. Tracker mention is more direct here since the thread is explicitly about tracking: 'I built a small tracker that handles each card separately — cert date, expiration, AF renewal, and a spot to note my MQD progress. Happy to share the link if that would help.' Do NOT name Fenrir. First person: 'I was managing three Delta cards at one point and...'. 4-6 sentences. Practical, slightly wry tone. Hedge: 'MQD tracking is best done in the Delta app itself — my tracker just flags when I should check in on progress.'\"\n      }\n    ]\n  },\n\n  marriottbonvoy: {\n    displayName: \"r/marriottbonvoy\",\n    size: \"90k\",\n    promotion: \"INDIRECT\",\n    voice: \"Warm, practical, help-focused. Less technical than r/churning but card-savvy. Hotel loyalists and Bonvoy card stackers. First person, specific about card names and dollar amounts. Comfortable with light bullet lists.\",\n    rules: [\n      \"Never name Fenrir or link fenrirledger.com in the body of the comment.\",\n      \"May say 'I use a small tracker I put together' — once per thread.\",\n      \"May offer 'happy to share the link if you want' as a soft follow-up.\",\n      \"No referral links outside the weekly referral thread (absolute ban).\",\n      \"No standalone promotional posts. No cold link drops.\",\n      \"No repeating the soft mention across multiple threads in the same week.\"\n    ],\n    jargon: [\"Brilliant\", \"Boundless\", \"Bold\", \"FNA\", \"FNC\", \"free night cert\", \"dining credit\", \"elite nights\", \"15 elite nights\", \"Platinum\", \"Titanium\", \"Ambassador\", \"AF\", \"card anniversary\", \"PP\"],\n    topicHooks: [\n      \"Is the Bonvoy Brilliant worth $650? — highest recurring thread. Lead with dining credit ($300, resets Jan 1) + cert + elite nights math.\",\n      \"My free night cert is about to expire — urgency thread, rescue move: book refundable, cancel later.\",\n      \"When does the Brilliant's dining credit reset? — calendar year vs. card year confusion; factual help opportunity.\",\n      \"How do you track your Bonvoy certs across cards? — direct target for natural tracker mention.\",\n      \"Chase Bonvoy vs. Amex Bonvoy — which to keep? — multi-card comparison, AF date and cert anniversary differences.\"\n    ],\n    pitfall: \"Mentioning a tracker in hotel-complaint, room-upgrade, service-failure, or Marriott-points-redemption threads. Those have no card-management angle and the mention feels forced.\",\n    lengthStyle: \"4-8 sentences. Warm, conversational. Light bullet lists accepted. Hedge appropriately: 'in my experience', 'YMMV on properties', 'check current terms'. First person, specific to the exact card.\",\n    positioningFraming: null,\n    prompts: [\n      {\n        id: 1,\n        title: \"Is the Bonvoy Brilliant worth the annual fee?\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/marriottbonvoy in response to a thread where the OP is deciding whether to keep or cancel their Marriott Bonvoy Brilliant American Express Card before the $650 annual fee renews. Angle: walk through the three primary value drivers — the $300 Marriott dining credit (calendar-year reset, Jan 1), the annual free night cert (~85k points, issued on card anniversary, valid ~12 months), and the 25 elite night credit. Key nuance: the dining credit resets on calendar year, not card anniversary — this trips people up constantly. Anyone with a mid-year card anniversary effectively gets two dining credits in quick succession after opening. Mention you track these timelines in a simple tracker. Lead with the benefit-by-benefit breakdown. Include the calendar-year vs. card-anniversary nuance for the dining credit. Mention cert expiration window (~12 months). Tracker mention is ONE sentence: 'I track the dining credit reset and cert dates in a simple tracker I put together — happy to share if you want.' Do NOT name Fenrir. Use jargon: Brilliant, dining credit, FNA or free night cert, elite nights, AF. First person, 5-8 sentences. Methodical, helpful tone. Hedge: 'last I checked', 'verify the current cert cap', 'in my experience'.\"\n      },\n      {\n        id: 2,\n        title: \"Free night certificate expiring\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/marriottbonvoy in response to a thread where the OP is worried their Marriott Bonvoy free night certificate (FNA) is expiring soon and they don't have a Marriott stay planned. Angle: the standard rescue move — book a refundable Marriott stay using the cert before it expires, then cancel if nothing materializes. Most standard Marriott rates are cancellable until 11:59pm the day before arrival (but verify before booking). You once nearly lost a cert and now track cert issue dates vs. expiration dates proactively so you always have lead time to plan a real trip. Open with empathy. Give the rescue move. Include caveat: verify cancellation policy before booking. Mention the cert typically needs to be applied at time of booking, not retroactively. Brief personal story. Tracker mention is ONE sentence: 'Now I track my cert issue and expiration dates in a small tracker so I catch it weeks out instead of days.' Do NOT name Fenrir. Use jargon: FNA, cert, Marriott, property, anniversary date. 5-7 sentences. Empathetic opening, practical middle, brief personal lesson at the end.\"\n      },\n      {\n        id: 3,\n        title: \"Multi-card Bonvoy cert confusion\",\n        type: \"reply\",\n        prompt: \"Draft a Reddit comment for r/marriottbonvoy in response to a thread where the OP is confused about managing multiple Marriott Bonvoy cards — specifically, they hold both the Chase Bonvoy Boundless and the Amex Bonvoy Brilliant and can't keep track of which cert came from which card, when each expires, and when each AF posts. Angle: validate the confusion. Chase and Amex issue their certs on different anniversary dates, the certs have different max point caps (Boundless cert ~35k points; Brilliant cert ~85k), and the AFs post on different schedules. You built a simple tracker specifically because you were in the same situation. Validate the confusion is legitimate, not user error. Explain the key distinction: Boundless cert vs. Brilliant cert value. Mention that the Brilliant's dining credit (calendar-year reset) adds a third timeline that doesn't sync with either card anniversary. Tracker mention is more prominent here: 'I built a small tracker that handles both cards separately — it covers each card's AF date, cert issue date, cert expiration, and the Brilliant's dining credit reset. Happy to share if that would help.' Do NOT name Fenrir. First person: 'I was in exactly this situation...'. 5-7 sentences. Empathetic and practical tone. Hedge: 'last I checked on the cert caps — verify current terms'.\"\n      }\n    ]\n  }\n};\n\n// ---------- Lookup logic ----------\n\nconst input = $input.first().json;\nconst subKey = input.subKey;\nconst promptNumber = input.promptNumber;\nconst trigger = input.trigger;\n\nconst profile = SUBREDDIT_PROFILES[subKey];\nif (!profile) {\n  throw new Error(\"No profile for sub: \" + subKey + \". Add it to SUBREDDIT_PROFILES.\");\n}\nif (profile.promotion === \"DIRECT\") {\n  throw new Error(\"DIRECT promotion is not allowed — should never be set.\");\n}\n\nconst promptEntry = profile.prompts.find(function (p) { return p.id === promptNumber; });\nif (!promptEntry) {\n  throw new Error(\"No prompt #\" + promptNumber + \" for \" + subKey + \".\");\n}\n\nreturn [{\n  json: {\n    subKey: subKey,\n    displayName: profile.displayName,\n    size: profile.size,\n    promotion: profile.promotion,\n    voice: profile.voice,\n    rules: profile.rules,\n    jargon: profile.jargon,\n    topicHooks: profile.topicHooks,\n    pitfall: profile.pitfall,\n    lengthStyle: profile.lengthStyle,\n    positioningFraming: profile.positioningFraming || null,\n    promptId: promptEntry.id,\n    promptTitle: promptEntry.title,\n    promptType: promptEntry.type,\n    promptText: promptEntry.prompt,\n    trigger: trigger\n  }\n}];\n"
      },
      "id": "00000005-0000-4000-8000-000000000005",
      "name": "Profile + Prompt Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 320],
      "notes": "Embedded SUBREDDIT_PROFILES for the 5 launch subs. Source of truth: product/research/reddit/<sub>/profile-reduced.md. When those files change, update this node. Promotion levels: INDIRECT (4 subs) + NAMED_COMPLEMENTARY (r/ynab only). DIRECT is forbidden."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "messages": {
          "values": [
            {
              "content": "=Prompt ({{ $json.promptType }}): {{ $json.promptTitle }}\n\n{{ $json.promptText }}"
            }
          ]
        },
        "options": {
          "maxTokens": 512,
          "system": "=You are Freya, posting on Reddit as u/Wide-Pass369. You are a 34-year-old churner in Denver, 3 years into the hobby, currently managing 12 active cards. You are NOT a marketer. You share real experience, numbers, and honest opinions.\n\nSubreddit: {{ $json.displayName }} ({{ $json.size }} subscribers)\nPromotion level: {{ $json.promotion }}\n\nVoice: {{ $json.voice }}\n\nNative jargon (use naturally): {{ $json.jargon.join(\", \") }}\n\nLength + style: {{ $json.lengthStyle }}\n\nPitfall to avoid: {{ $json.pitfall }}\n\nPROMOTION RULES (UNBREAKABLE):\n- If promotion is AVOID: zero product mention. No 'I built', no tool name, no link. Pure value only.\n- If promotion is INDIRECT: you MAY say 'I built a small tracker for this' ONCE per comment without naming Fenrir and without any link. Follow with 'happy to share if you want' as a soft offer. Never name Fenrir. Never link fenrirledger.com.\n- If promotion is NAMED_COMPLEMENTARY: you MAY name 'Fenrir Ledger' and include the link 'fenrirledger.com' ONCE, but only in the final third of the comment, AND only after establishing the complementary positioning. For r/ynab specifically, use this framing: {{ $json.positioningFraming }}\n- DIRECT is NOT AN OPTION — if you see promotion=DIRECT, refuse and return the literal string 'ERROR: DIRECT promotion is disabled'.\n\nHard rules specific to this sub:\n{{ $json.rules.map((r, i) => (i + 1) + '. ' + r).join('\\n') }}\n\nANTI-DETECTION (UNBREAKABLE):\nBanned words: delve, utilize, moreover, furthermore, additionally, crucial, pivotal, navigate (as a verb for abstract things), landscape (for abstract topics), in the realm of, it is worth noting, tapestry, testament, paramount, seamlessly, powerful, game-changer.\nWrite short paragraphs. First person. Conversational. No bullet lists unless the sub's style guidance above explicitly allows them. NEVER use em-dashes (use commas or periods instead).\n\nOUTPUT FORMAT (UNBREAKABLE):\nReturn exactly two blocks, nothing else:\n\nTITLE: <the post or comment title — for replies/comments leave as '(reply — no title)'>\nBODY: <the full post/comment body>\n\nDo not add any preamble, explanation, or markdown code fences."
        }
      },
      "id": "00000006-0000-4000-8000-000000000006",
      "name": "Claude — Compose Post",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [912, 320],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-fenrir",
          "name": "Anthropic (Fenrir)"
        }
      },
      "notes": "Composes a Reddit post/comment based on the sub profile and prompt from the lookup node. System prompt enforces 3 promotion levels (AVOID/INDIRECT/NAMED_COMPLEMENTARY), anti-detection rules, and strict TITLE/BODY output format. Uses claude-sonnet-4-20250514 with 512 max tokens."
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response and build the Gmail draft payload.\n// Handles 3 possible response shapes from the n8n Anthropic node.\n// Enforces post-hoc compliance: INDIRECT/AVOID subs must not contain Fenrir/fenrirledger.com.\n\nconst input = $input.first().json;\n\nconst claudeText =\n  (input && input.content && input.content[0] && input.content[0].text) ||\n  input.text ||\n  (input.message && input.message.content) ||\n  \"\";\n\nif (!claudeText) {\n  throw new Error(\"Claude returned no text. Raw response keys: \" + Object.keys(input).join(\", \"));\n}\n\nconst titleMatch = claudeText.match(/TITLE:\\s*(.+?)\\s*\\nBODY:/s);\nconst bodyMatch = claudeText.match(/BODY:\\s*([\\s\\S]+)$/);\n\nif (!titleMatch || !bodyMatch) {\n  throw new Error(\"Claude output did not match TITLE:/BODY: format. Raw text:\\n\" + claudeText);\n}\n\nconst rawTitle = titleMatch[1].trim();\nconst body = bodyMatch[1].trim();\n\nif (body.startsWith(\"ERROR:\")) {\n  throw new Error(\"Claude refused: \" + body);\n}\n\n// Get context from Node 5 by name reference\nconst ctx = $(\"Profile + Prompt Lookup\").first().json;\n\nconst title = rawTitle === \"(reply — no title)\" ? \"\" : rawTitle;\nconst encodedTitle = title ? encodeURIComponent(title) : \"\";\n\nconst submitLink = title\n  ? \"https://www.reddit.com/r/\" + ctx.subKey + \"/submit?title=\" + encodedTitle + \"&selftext=true\"\n  : \"https://www.reddit.com/r/\" + ctx.subKey + \"/\";\n\n// Post-hoc compliance check: INDIRECT/AVOID subs must not contain Fenrir or fenrirledger.com.\nif (ctx.promotion === \"INDIRECT\" || ctx.promotion === \"AVOID\") {\n  const lower = body.toLowerCase();\n  if (lower.indexOf(\"fenrir\") !== -1 || lower.indexOf(\"fenrirledger.com\") !== -1) {\n    throw new Error(\n      \"Claude named Fenrir in a \" + ctx.promotion + \" sub (\" + ctx.subKey + \") — this is a hard rule violation. Aborting draft creation. Body:\\n\" + body\n    );\n  }\n}\n\nreturn [{\n  json: {\n    subKey: ctx.subKey,\n    displayName: ctx.displayName,\n    promotion: ctx.promotion,\n    promptId: ctx.promptId,\n    promptTitle: ctx.promptTitle,\n    promptType: ctx.promptType,\n    title: title,\n    body: body,\n    submitLink: submitLink,\n    trigger: ctx.trigger\n  }\n}];\n"
      },
      "id": "00000007-0000-4000-8000-000000000007",
      "name": "Format Draft Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1136, 320],
      "notes": "Parses Claude's TITLE/BODY output, builds the Reddit submit link, and runs a post-hoc compliance check that throws before Gmail draft creation if an INDIRECT or AVOID sub's output contains 'Fenrir' or 'fenrirledger.com'. NAMED_COMPLEMENTARY (only r/ynab) is exempt from this check."
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Reddit Post Draft: {{ $json.displayName }} — {{ $json.title || '(reply)' }}",
        "emailType": "html",
        "message": "=<h2>Reddit Post Draft</h2>\n<p>\n  <strong>Subreddit:</strong> {{ $json.displayName }}<br/>\n  <strong>Promotion level:</strong> {{ $json.promotion }}<br/>\n  <strong>Prompt:</strong> #{{ $json.promptId }} — {{ $json.promptTitle }} ({{ $json.promptType }})<br/>\n  <strong>Trigger mode:</strong> {{ $json.trigger }}\n</p>\n\n<hr/>\n\n<h3>Composed Title</h3>\n<p><strong>{{ $json.title || '(reply — no title)' }}</strong></p>\n\n<h3>Composed Body</h3>\n<div style=\"background:#f5f5f5;padding:12px;border-left:3px solid #c9920a;white-space:pre-wrap;font-family:Georgia,serif;\">{{ $json.body }}</div>\n\n<hr/>\n\n<h3>Post it</h3>\n<p>\n  👉 <a href=\"{{ $json.submitLink }}\"><strong>Open Reddit submit page</strong></a>\n</p>\n<p style=\"font-size:12px;color:#666;\">\n  Click the link above, paste the body into Reddit, review one more time, then submit as u/Wide-Pass369.<br/>\n  Delete this draft when done.<br/>\n  Generated by the Reddit Post Composer n8n workflow.\n</p>",
        "options": {}
      },
      "id": "00000008-0000-4000-8000-000000000008",
      "name": "Gmail — Create Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1360, 320],
      "credentials": {
        "gmailOAuth2": {
          "id": "Eck5j1Xj1x6zyc9A",
          "name": "Gmail account"
        }
      },
      "notes": "Creates a Gmail draft in freyafenrir@gmail.com with the composed Reddit post, metadata, and a one-click Reddit submit link. Odin reviews each draft, edits if needed, then posts manually as u/Wide-Pass369."
    }
  ],
  "connections": {
    "Trigger — Random": {
      "main": [
        [
          {
            "node": "Pick Random Sub + Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger — Chosen": {
      "main": [
        [
          {
            "node": "Use Chosen Sub + Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random Sub + Prompt": {
      "main": [
        [
          {
            "node": "Profile + Prompt Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Chosen Sub + Prompt": {
      "main": [
        [
          {
            "node": "Profile + Prompt Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile + Prompt Lookup": {
      "main": [
        [
          {
            "node": "Claude — Compose Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Compose Post": {
      "main": [
        [
          {
            "node": "Format Draft Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Draft Email": {
      "main": [
        [
          {
            "node": "Gmail — Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": []
}
